.container
  .row
    .big-heading
      .slogan
        %h4{style: "font-family: Allan;"}
          Наша компания является официальным представителем итальянских торговых марок в Украине. Весь товар сертифицирован. Возможны доставки по всей Украине.
.clear
.container
  .row
    / Place somewhere in the <body> of your page
    #video_wrapper
      .video_pattern
      %video.video_background{autoplay: "true", loop: "loop", preload: "auto", volume: "0", muted: ""}
        %source{src: "/videos/video.webm", type: "video/webm"}
        %source{src: "/img/landing/video.mp4", type: "video/mp4"} 
        Video not supported
.clear
%br
%br
%br
.container.clearfix
  .row
    .service-block.span3
      .style
        %a.stylish{href: "#"}
          %span.icon
            %img{alt: "post one", src: "/img/wash/logo1.png", class: ""}
        %a.halfCircleBottom
      %h4{style: "font-family: Allan;"} Deox
      %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
    .service-block.span3
      .style
        %a.stylish{href: "#"}
          %span.icon
            %img{alt: "post one", src: "/img/wash/logo2.png", class: ""}
        %a.halfCircleBottom
      %h4{style: "font-family: Allan;"} Disin FEKTO
      %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
    .service-block.span3
      .style
        %a.stylish{href: "#"}
          %span.icon
            %img{alt: "post one", src: "/img/wash/logo3.png", class: ""}
        %a.halfCircleBottom
      %h4{style: "font-family: Allan;"} Gran Bucato
      %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
    .service-block.span3
      .style
        %a.stylish{href: "#"}
          %span.icon
            %img{alt: "post one", src: "/img/wash/logo4.png", class: ""}
        %a.halfCircleBottom
      %h4{style: "font-family: Allan;"} Love
      %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
.clearfix
.container
  .row
    .span6
      .left-heading
        .text
          %span Последнии новости
      .clear
      .recent-blog
        .post
          .comment-cout
            %h5.date 20
            .clear
            %h6.month June
          .halfCircleright
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "http://unolution.com/en/#"}
        .post
          .comment-cout
            %h5.date 20
            .clear
            %h6.month June
          .halfCircleright
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "http://unolution.com/en/#"}
        .post
          .comment-cout
            %h5.date 20
            .clear
            %h6.month June
          .halfCircleright
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "http://unolution.com/en/#"}
    .span6.testimonial
      %br
      %br
      %br
      .bx-wrapper
        %br
        %blockquote{style: "padding: 15px;"}
          %h3 Низкие цены широкий ассортимент продукции.
          %p
            " Компания "Якісний продукт плюс" с радостью предложит Вам исключительно высококачественные товары, большой и разнообразный ассортимент и главное – доступные цены. Вся продукция сертифицирована и соответствует ГОСТ и ТУ."
  //.contact-box
  //  //.arrow-circle
  //  //.circleright
  //  //%h4{style: "font-family: Allan;"} Подпишитесь на наши новости Site.com
  //  //%a.buttonred{href: "http://eepurl.com/vGsWT"} Подписатся
