#home
.clearfix
#video_wrapper
  .video_pattern
  %video.video_background{autoplay: "true", loop: "loop", preload: "auto", volume: "0", muted: ""}
    %source{src: "/videos/video.webm", type: "video/webm"}
    %source{src: "/img/landing/video.mp4", type: "video/mp4"} 
    Video not supported
.container.flag
  .row
    .col-lg-4.color1
      1
    .col-lg-4.color2
      1
    .col-lg-4.color3
      1
.clearfix
#about.white
  .container
    .row
      %br
      %h1.text-center О компании
      %hr
      .col-lg-12
        %p Компания "Якісний продукт плюс" более десяти лет занимается комплексными поставками химического сырья и средствами дезинфекции. Среди продукции есть как хлорсодержащие товары, так и товары на основе производных.
        %p Мы предлагаем бытовую химию, промышленную химию, средства по уходу за телом и сопутствующие товары.
        %p Отдел продаж компании "Якісний продукт плюс" – это команда профессионалов с большим опытом работы и компетентным отношением к клиентам. Они предоставят  консультацию по любым интересующим Вас вопросам. Кроме того, постоянным клиентам и партнерам мы предоставляем гибкую систему скидок и наиболее выгодные условия сотрудничества.
        %br
      //
%section.section-divider.textdivider.divider1
  .container
    %br
    %br
    %p Наша задача - сделать Ваш поиск продукции легким, доступным и удобным.
    %hr/
    %p Знакомство с нашей компанией - отличный старт для плодотворного и взаимовыгодного сотрудничества.
#brands.white
  .container
    .row.thumbs-list
      %h1.text-center Бренды
      %hr
      .col-lg-12.text-center
        %p Наша компания является официальным представителем итальянских торговых марок в Украине. Весь товар сертифицирован. Возможны доставки по всей Украине.
        %br
        %br
      .col-lg-2.text-center
        %img.brand-ico{src: "/img/landing/wash/logo1.png"}
      .col-lg-2.text-center
        %img.brand-ico{src: "/img/landing/wash/logo2.png"}
      .col-lg-2.text-center
        %img.brand-ico{src: "/img/landing/wash/logo3.png"}
      //
      .col-lg-2.text-center
        %img.brand-ico{src: "/img/landing/wash/logo4.png"}
      .col-lg-2.text-center
        %img.brand-ico{src: "/img/landing/wash/logo5.png"}
      .col-lg-2.text-center
        %img.brand-ico{src: "/img/landing/wash/logo6.png"}
      //
      .clearfix
      %br
      .col-lg-2.col-md-offset-1.text-center
        %img.brand-ico{src: "/img/landing/wash/logo7.png"}
      .col-lg-2.text-center
        %img.brand-ico{src: "/img/landing/wash/logo8.png"}
      .col-lg-2.text-center
        %img.brand-ico{src: "/img/landing/wash/logo9.png"}
      //
      .col-lg-2.text-center
        %img.brand-ico{src: "/img/landing/wash/logo10.png"}
      .col-lg-2.text-center
        %img.brand-ico{src: "/img/landing/wash/logo11.png"}
  .clearfix
  %br
  %br

//
%section.section-divider.textdivider.divider2
  .container
    %h1 Низкие цены широкий ассортимент.
    %hr
    %p Компания "Якісний продукт плюс" с радостью предложит Вам исключительно высококачественные товары, большой и разнообразный ассортимент и главное – доступные цены. Вся продукция сертифицирована и соответствует ГОСТ и ТУ.
%br
#sert.white
  .container
    %h1.text-center Сертификаты
    %hr
    #carousel-example-generic.carousel.slide.carousel-products{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      / Wrapper for slides
      .carousel-inner
        .item.active
          .row.thumbs-list
            .col-lg-2.text-center
              =link_to "/img/s/avea/Avea,_ 14-позицый.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/avea/Avea,_Шампунь.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/avea/Sanepid_A_Avea.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/avea/Sepro_A_Avea.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/декл відповідн SCALA 293-13.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/декл відповідн SCALA 294-13.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
        .item
          .row.thumbs-list
            .col-lg-2.text-center
              =link_to "/img/s/scala/CЕС висновок 12600.PDF", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/Scalla Sertific 2013 001.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/Scalla Sertific 2013 002.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/Scalla Sertific 2013 94863-13 001.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/Scalla Sertific 2013 94863-13.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/Scalla Sertific 2013.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
      / Controls
      %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-right
      .clearfix
      %br
      %br
.clearfix
%br
%br

%section#contacts.section-divider.textdivider.divider3
  .container
    %h1 Киев, Украина.
    %hr
    %p Артема 14, 22
    %p +34 9884 4893   
.clearfix
%section.white
  .container
    .row
      %br
      %h1.text-center Вы можете связаться с нами
      %hr
      .col-lg-12
        %p.text-center
          Если у Вас есть вопросы, или Вы хотите проконсультироваться по какому-то конкретному товару, мы всегда готовы предоставить любую информацию, которая поможет сделать покупку. Получить консультацию можно по телефону или через форму обратной связи.
        .clearfix
        %br
        .row
          .col-sm-6.callout
            %form.contact-form{action: "php/contact-send.php", method: "post", role: "form"}
              .form-group
                %label{for: "contact-name"}
                  Имя
                %input#contact-name.form-control{name: "name", required: "", type: "text", value: ""}/
              .form-group
                %label{for: "contact-email"}
                  Email
                %input#contact-email.form-control{name: "email", required: "", type: "email", value: ""}/
              .form-group
                %label{for: "contact-subject"}
                  Тема
                %input#contact-subject.form-control{name: "subject", type: "text", value: ""}/
              .form-group
                %label{for: "contact-message"}
                  Сообщение
                %textarea#contact-message.form-control{cols: "88", name: "message", required: "", rows: "6"}
              .clearfix
              %input.btn.btn-primary.btn-lg{type: "submit", value: "Отправить"}/
              %br
              %br
          .col-sm-6.callout
            %iframe{frameborder: "0", height: "450", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com.ua/maps?f=q&source=s_q&hl=ru&geocode=&q=kiev&aq=&sll=50.449956,30.524579&sspn=0.004564,0.009838&ie=UTF8&hq=&hnear=%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9A%D0%B8%D0%B5%D0%B2&t=m&z=10&ll=50.4501,30.5234&output=embed", width: "525"}
        .clearfix
.clearfix
%br
%br
