/.container
/  .row
/    .big-heading
/      .slogan
/        %h4{style: "font-family: Allan;"}
/          Наша компания является официальным представителем итальянских торговых марок в Украине. Весь товар сертифицирован. Возможны доставки по всей Украине.
.clear
%br
.container
  .row
    / Place somewhere in the <body> of your page
    /#video_wrapper
    /  .video_pattern
    /  %video.video_background{autoplay: "true", loop: "loop", preload: "auto", volume: "0", muted: ""}
    /    %source{src: "/videos/video.webm", type: "video/webm"}
    /    %source{src: "/img/landing/video.mp4", type: "video/mp4"} 
    /    Video not supported
    .col-xs-5
      - Manufacturer.all.each do |manufacturer|
        - manufacturer.manufacturer_pictures.each do |manufacturer_picture|
          = image_tag manufacturer_picture.picture.url(:preview80x80), alt: "post one", class: "img-polaroid img-rounded"
          %h4.pull-right= manufacturer.title
          %br
          %br
          %p= manufacturer.short_description
          %hr

    .col-xs-7
      %object.pull-right{data: "/swf/animazione2_ING.swf", height: "383", type: "application/x-shockwave-flash", width: "544", style: "margin-top: 35px; max-width: 100%;"}
        /%param{name: "data", value: "../../img/Images/animazione2_ING.swf"}/
        /%param{name: "src", value: "../../img/Images/animazione2_ING.swf"}/
.clear
%br
.container.clearfix
  %h1.text-center Бренды
  .row
    .service-block.col-xs-3
      .style
        %a.stylish{href: "#"}
          %span.icon
            %img{alt: "post one", src: "/img/wash/logo1.png", class: ""}
      %h4 Deox
      %p Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
    .service-block.col-xs-3
      .style
        %a.stylish{href: "#"}
          %span.icon
            %img{alt: "post one", src: "/img/wash/logo2.png", class: ""}
      %h4 Disin FEKTO
      %p Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
    .service-block.col-xs-3
      .style
        %a.stylish{href: "#"}
          %span.icon
            %img{alt: "post one", src: "/img/wash/logo3.png", class: ""}
      %h4 Gran Bucato
      %p Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
    .service-block.col-xs-3
      .style
        %a.stylish{href: "#"}
          %span.icon
            %img{alt: "post one", src: "/img/wash/logo4.png", class: ""}
      %h4 Love
      %p Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
.clearfix
#sert.white
  .container
    %h1.text-center Сертификаты
    %hr
    #carousel-example-generic.carousel.slide.carousel-products{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      / Wrapper for slides
      .carousel-inner
        .item.active
          .row.thumbs-list
            .col-lg-2.text-center
              =link_to "/img/s/avea/Avea,_ 14-позицый.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/avea/Avea,_Шампунь.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/avea/Sanepid_A_Avea.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/avea/Sepro_A_Avea.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/декл відповідн SCALA 293-13.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/декл відповідн SCALA 294-13.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
        .item
          .row.thumbs-list
            .col-lg-2.text-center
              =link_to "/img/s/scala/CЕС висновок 12600.PDF", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/Scalla Sertific 2013 001.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/Scalla Sertific 2013 002.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/Scalla Sertific 2013 94863-13 001.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/Scalla Sertific 2013 94863-13.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
            .col-lg-2.text-center
              =link_to "/img/s/scala/Scalla Sertific 2013.pdf", target: "_blank" do
                %img.brand-ico{src: "/img/s/thumb.png"}
      / Controls
      %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
        ‹
      %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
        ›
      .clearfix
      %br
      %br
.clearfix
%br
.container
  .row
    .col-xs-6
      .left-heading
        .text
          %span Последнии новости
      .clear
      .recent-blog
        .post
          .comment-cout
            %h5.date 20
            .clear
            %h6.month June
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "#"}
            .clearfix
        .post
          .comment-cout
            %h5.date 20
            .clear
            %h6.month June
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "#"}
            .clearfix
        .post
          .comment-cout
            %h5.date 20
            .clear
            %h6.month June
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "#"}
            .clearfix
    .col-xs-6.testimonial
      %br
      %br
      .contact-widget
        %br
        .bx-wrapper
          %br/
          %blockquote{style: "padding: 15px;"}
            %h3 Низкие цены широкий ассортимент продукции.
            %p
              " Компания "Якісний продукт плюс" с радостью предложит Вам исключительно высококачественные товары, большой и разнообразный ассортимент и главное – доступные цены. Вся продукция сертифицирована и соответствует ГОСТ и ТУ."
.clearfix