.service-block.span3
  .style
    %a.stylish{href: "#"}
      %span.icon
        %img{alt: "post one", src: "/img/wash/logo1.png", class: ""}
    %a.halfCircleBottom
  %h4 Deox
  %p Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.