.container
  .row
    .inner-heading
      .txt
        %h1 О компании
      %p Компания "Якісний продукт плюс" более десяти лет занимается комплексными поставками химического сырья и средствами дезинфекции. Среди продукции есть как хлорсодержащие товары, так и товары на основе производных.
      %p Мы предлагаем бытовую химию, промышленную химию, средства по уходу за телом и сопутствующие товары.
      %p Отдел продаж компании "Якісний продукт плюс" – это команда профессионалов с большим опытом работы и компетентным отношением к клиентам. Они предоставят  консультацию по любым интересующим Вас вопросам. Кроме того, постоянным клиентам и партнерам мы предоставляем гибкую систему скидок и наиболее выгодные условия сотрудничества.
      %br
.clear
%br
%br
%br
.container.clearfix
  .row
    .service-block.span3
      .style
        %a.stylish{href: "http://unolution.com/en/#"}
          %span.globe
        %a.halfCircleBottom
      %h4{style: "font-family: Allan;"} WEBSITE DESIGN
      %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
    .service-block.span3
      .style
        %a.stylish{href: "http://unolution.com/en/#"}
          %span.setting
        %a.halfCircleBottom
      %h4{style: "font-family: Allan;"} DEVELOPMENT
      %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
    .service-block.span3
      .style
        %a.stylish{href: "http://unolution.com/en/#"}
          %span.video
        %a.halfCircleBottom
      %h4{style: "font-family: Allan;"} VIDEO MAKING
      %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
    .service-block.span3
      .style
        %a.stylish{href: "http://unolution.com/en/#"}
          %span.development
        %a.halfCircleBottom
      %h4{style: "font-family: Allan;"} SUPPORT
      %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
.clear
.container
  .row
    .center-heading
      .text
        %span Бренды
.clear
.container
  .row
    .recent-work
      %ul#da-thumbs.da-thumbs
        %li
          .main
            %a{href: "http://unolution.com/en/#"}
              %img{alt: "", src: "/img/wash/logo1.png"}/
            %div
              %h4{style: "font-family: Allan;"} Project title
              %p{style: "font-family: Allan;"}
                Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
              %a.icon-arrow-right.read.fancy{href: "/img/img1.jpg"}
        %li
          .main
            %img{alt: "", src: "/img/wash/logo2.png"}/
            %div
              %h4{style: "font-family: Allan;"} Project title
              %p{style: "font-family: Allan;"}
                Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
              %a.icon-arrow-right.read.fancy{href: "/img/img2.jpg"}
        %li
          .main
            %img{alt: "", src: "/img/wash/logo3.png"}/
            %div
              %h4{style: "font-family: Allan;"} Project title
              %p{style: "font-family: Allan;"}
                Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
              %a.icon-arrow-right.read.fancy{href: "/img/img3.jpg"}
        %li
          .main
            %img{alt: "", src: "/img/wash/logo4.png"}/
            %div
              %h4{style: "font-family: Allan;"} Project title
              %p{style: "font-family: Allan;"}
                Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
              %a.icon-arrow-right.read.fancy{href: "/img/img4.jpg"}
        %li
          .main
            %img{alt: "", src: "/img/wash/logo5.png"}/
            %div
              %h4{style: "font-family: Allan;"} Project title
              %p{style: "font-family: Allan;"}
                Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
              %a.icon-arrow-right.read.fancy{href: "/img/img5.jpg"}
        %li
          .main
            %img{alt: "", src: "/img/wash/logo6.png"}/
            %div
              %h4{style: "font-family: Allan;"} Project title
              %p{style: "font-family: Allan;"}
                Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
              %a.icon-arrow-right.read.fancy{href: "/img/img6.jpg"}
.clear
.container
  .row
    .span6
      .left-heading
        .text
          %span Последнии новости
      .clear
      .recent-blog
        .post
          .comment-cout
            %h5.date 20
            .clear
            %h6.month June
          .halfCircleright
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "http://unolution.com/en/#"}
        .post
          .comment-cout
            %h5.date 20
            .clear
            %h6.month June
          .halfCircleright
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "http://unolution.com/en/#"}
        .post
          .comment-cout
            %h5.date 20
            .clear
            %h6.month June
          .halfCircleright
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "http://unolution.com/en/#"}
    .span6.testimonial
      %br
      %br
      %br
      .bx-wrapper
        %br
        %blockquote{style: "padding: 15px;"}
          %h3 Низкие цены широкий ассортимент продукции.
          %p
            " Компания "Якісний продукт плюс" с радостью предложит Вам исключительно высококачественные товары, большой и разнообразный ассортимент и главное – доступные цены. Вся продукция сертифицирована и соответствует ГОСТ и ТУ."
  .contact-box
    .arrow-circle
    .circleright
    %h4{style: "font-family: Allan;"} Подпишитесь на наши новости Site.com
    %a.buttonred{href: "http://eepurl.com/vGsWT"} Подписатся
