.container
  .row
    %section.blog.col-xs-12
      .inner-heading
        .txt
          %h3 Контакты
      .clearfix
    %section.blog.col-xs-7
      %h4 Вы можете связаться с нами
      .clear
      Если у Вас есть вопросы, или Вы хотите проконсультироваться по какому-то конкретному товару, мы всегда готовы предоставить любую информацию, которая поможет сделать покупку. Получить консультацию можно по телефону или через форму обратной связи.
      //
      .clearfix
      %br
      %address
        %strong Якісний продукт плюс.
        %br
        29000, м. Хмельницький, 
        %br
        Львовское шосе 12,
        %br
        %abbr{title: "Phone"} P:
        038 270 87 00
        %br
        067 380 04 84
        %br
        %a{href: "mailto:info@qpp.com.ua"} info@qpp.com.ua
      .clear
      %br
    %aside#sidebar.col-xs-5
      #contact.contact-widget
        %h4 Задайте нам вопрос
        %p Если у Вас есть вопросы, или Вы хотите проконсультироваться по какому-то конкретному товару
        = form_tag("/search", method: "post") do
          .form-group
            //%label Имя
            %input.form-control{placeholder: "Имя", type: "text"}/
          .form-group
            //%label Email
            %input.form-control{placeholder: "Email", type: "email"}/
          .form-group
            %textarea.form-control{rows: "3", placeholder: "Написать..."}
          .clearfix

          = submit_tag("Отправить", class: "btn btn-default")
          /%a#send{href: "#", class: "btn btn-default"} Отправить

//
.clearfix
%br
%br
%br
%br
%br