.container
  .row
    .inner-heading
      .txt
        %h1 Контакты
    %section.blog.span8
      .clearfix
      %h4{style: "font-family: Allan;"} Вы можете связаться с нами
      .clear
      Если у Вас есть вопросы, или Вы хотите проконсультироваться по какому-то конкретному товару, мы всегда готовы предоставить любую информацию, которая поможет сделать покупку. Получить консультацию можно по телефону или через форму обратной связи.
      //
      %address
        %strong Twitter, Inc.
        %br/
        795 Folsom Ave, Suite 600
        %br/
        San Francisco, CA 94107
        %br/
        %abbr{title: "Phone"} P:
        (123) 456-7890
      %address
        %strong Full Name
        %br/
        %a{href: "mailto:#"} first.last@example.com
      .clear
      %br
      %h4{style: "font-family: Allan;"} Задайте нам вопрос
      .clear
      %p{style: "font-family: Allan;"} Если у Вас есть вопросы, или Вы хотите проконсультироваться по какому-то конкретному товару
      %form#footermsg{action: "http://unolution.com/en/js/send.php"}
        %textarea#footmessage{name: "message"} Написать...
        .clear
        %a#send{href: "http://unolution.com/en/#"} Отправить
      #mail_s
        %span Email has been sent Successfully
      #mail_f
        %span Server Error Try again
    %aside#sidebar.span4
      .sidebar-widget
        %div 

//
.clearfix
%br
%br
%br
%br
%br