
.container
  .row
    %br
    .row
      .span12
        .left-heading
          .text
            %span ДИСТРИБЬЮТОРЫ
      .clear
    %section.blog.span8
      #container
      .clearfix
    %aside#sidebar.span4
      #distributor-summary
        