.container
  .row
    .inner-heading
      .txt
        %h1 ДИСТРИБЬЮТОРЫ
    .clear
    %section.blog.span8
      #container
      .clearfix
      %br
    %aside#sidebar.span4
      .sidebar-widget
        %div 
          %h3 Title
          %p Lorenium ipsum more dom
