.container
  .row
    %section.blog.col-xs-8
      .inner-heading
        .txt
          %h3 Дистрибьюторы
      .clearfix
      #container
      .clearfix
    %aside#sidebar.col-xs-4
      %br
      %br
      #distributor-summary
        