#distributors
  .container
    .row
      %br
      %h1.text-center Дистрибуторы 
      %hr
      .col-lg-4.text-center
        %img{src: "http://dummyimage.com/220x80/ccc/fff"}
        %h4 Дистрибутор
        %p Описание Дистрибутора...
      .col-lg-4.text-center
        %img{src: "http://dummyimage.com/220x80/ccc/fff"}
        %h4 Дистрибутор
        %p Описание Дистрибутора...
      .col-lg-4.text-center
        %img{src: "http://dummyimage.com/220x80/ccc/fff"}
        %h4 Дистрибутор
        %p Описание Дистрибутора...
      .col-lg-4.text-center
        %img{src: "http://dummyimage.com/220x80/ccc/fff"}
        %h4 Дистрибутор
        %p Описание Дистрибутора...
      .col-lg-4.text-center
        %img{src: "http://dummyimage.com/220x80/ccc/fff"}
        %h4 Дистрибутор
        %p Описание Дистрибутора...
      .col-lg-4.text-center
        %img{src: "http://dummyimage.com/220x80/ccc/fff"}
        %h4 Дистрибутор
        %p Описание Дистрибутора...
    //
    %hr
    %br
    %br
    .text-center
      %ul.pagination
        %li
          %a{href: "#"} «
        %li
          %a{href: "#"} 1
        %li
          %a{href: "#"} 2
        %li
          %a{href: "#"} »