.container
  .row
    %section.blog.col-xs-8
      .inner-heading
        .txt
          %h3 Дистрибьюторы
      .clearfix
      #container{style: "padding-right: 10px;border-right: 1px solid #ddd;"}
      .clearfix
    %aside#sidebar.col-xs-4
      %br
      %br
      %br
      #distributor-summary
        