.container
  .row
    .inner-heading
      .txt
        %h1 ДИСТРИБЬЮТОРЫ
    .clear
    %section.blog.span8
      #container
      .clearfix
      %br
    %aside#sidebar.span4
      .bx-wrapper
        %br
        %blockquote{style: "padding: 15px;"}
          %h3 Низкие цены широкий ассортимент продукции.
          %p
            " Компания "Якісний продукт плюс" с радостью предложит Вам исключительно высококачественные товары, большой и разнообразный ассортимент и главное – доступные цены. Вся продукция сертифицирована и соответствует ГОСТ и ТУ."
