.container
  .row
    .col-xs-6
      .inner-heading
        .txt
          %h1 Последнии новости
      .recent-blog
        .post
          .comment-cout
            %h5.date 20
            .clear
            %h6.month June
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "#"}
            .clearfix
        .post
          .comment-cout
            %h5.date 15
            .clear
            %h6.month June
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "#"}
            .clearfix
        .post
          .comment-cout
            %h5.date 11
            .clear
            %h6.month June
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "#"}
            .clearfix
        //
        .post
          .comment-cout
            %h5.date 11
            .clear
            %h6.month June
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "#"}
            .clearfix
        //
        .post
          .comment-cout
            %h5.date 11
            .clear
            %h6.month June
          .containt
            %h4 Aliquam lorem lacus, auctor quis.
            %p Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "#"}
            .clearfix
        //
    .col-xs-6.testimonial
      %br
      %br
      %br
      .bx-wrapper
        %br
        %blockquote{style: "padding: 15px;"}
          %h3 Низкие цены широкий ассортимент продукции.
          %p
            " Компания "Якісний продукт плюс" с радостью предложит Вам исключительно высококачественные товары, большой и разнообразный ассортимент и главное – доступные цены. Вся продукция сертифицирована и соответствует ГОСТ и ТУ."
