#products.white
  .container
    .row
      .col-lg-3
        %ul.nav.nav-pills.nav-stacked{style: "margin-top: 100px;"}
          %li
            %a{href: "#"} Зубная паста
          %li
            %a{href: "#"} Все для детей
          %li
            %a{href: "#"} Гель для душа
          %li
            %a{href: "#"} Зубная щетка
          %li
            %a{href: "#"} Косметика
          %li
            %a{href: "#"} Мыло
          %li
            %a{href: "#"} Ополаскиватели
          %li
            %a{href: "#"} Освежители воздуха
          %li
            %a{href: "#"} Пятновыводитель
          %li
            %a{href: "#"} Средства для бритья
          %li.active
            %a{href: "#"} Средства для посуды
          %li
            %a{href: "#"} Стиральный порошок
          %li
            %a{href: "#"} Хозяйственные принадлежности
          %li
            %a{href: "#"} Шампунь  
      .col-lg-9
        %br
        %h1.text-center Наша продукция
        %hr
        %br
        %p
          Бытовая химия из Европы, Высококачественный ассортимент продукции. WINNI'S, SMACCHIOTUTTO, DEOX, MORBIDO, DISINFEKTO, PULIRAPID и другии
        .clearfix
        %br
        %br
        
        .row.products-list
          .col-sm-4
            =link_to "/pages/show", class: "thumbnail" do
              %img{src: "/img/landing/product1.jpg"}
              .caption
                %h3 SCALA Bucato a mano Freschezza blù
          .col-sm-4
            =link_to "/pages/show", class: "thumbnail" do
              %img{src: "/img/landing/product1.jpg"}
              .caption
                %h3 SCALA Bucato a mano Freschezza blù
          .col-sm-4
            =link_to "/pages/show", class: "thumbnail" do
              %img{src: "/img/landing/product1.jpg"}
              .caption
                %h3 SCALA Bucato a mano Freschezza blù
          .col-sm-4
            =link_to "/pages/show", class: "thumbnail" do
              %img{src: "/img/landing/product1.jpg"}
              .caption
                %h3 SCALA Bucato a mano Freschezza blù
          .col-sm-4
            =link_to "/pages/show", class: "thumbnail" do
              %img{src: "/img/landing/product1.jpg"}
              .caption
                %h3 SCALA Bucato a mano Freschezza blù
          .col-sm-4
            =link_to "/pages/show", class: "thumbnail" do
              %img{src: "/img/landing/product1.jpg"}
              .caption
                %h3 SCALA Bucato a mano Freschezza blù
        %hr
        %br
        %br
        .text-center
          %ul.pagination
            %li
              %a{href: "#"} «
            %li
              %a{href: "#"} 1
            %li
              %a{href: "#"} 2
            %li
              %a{href: "#"} »
%br
%br
%br
