.container.flag{style: "border-top: 1px solid #eee; border-bottom: 1px solid #eee;"}
  .row
    .col-lg-4.color1
      1
    .col-lg-4.color2
      1
    .col-lg-4.color3
      1
.clearfix
#products.white
  .container
    .row
      .col-lg-3
        %ul.nav.nav-pills.nav-stacked{style: "margin-top: 100px;"}
          %li
            %a{href: "#"} Зубная паста
          %li
            %a{href: "#"} Все для детей
          %li
            %a{href: "#"} Гель для душа
          %li
            %a{href: "#"} Зубная щетка
          %li
            %a{href: "#"} Косметика
          %li
            %a{href: "#"} Мыло
          %li
            %a{href: "#"} Ополаскиватели
          %li
            %a{href: "#"} Освежители воздуха
          %li
            %a{href: "#"} Пятновыводитель
          %li
            %a{href: "#"} Средства для бритья
          %li.active
            %a{href: "#"} Средства для посуды
          %li
            %a{href: "#"} Стиральный порошок
          %li
            %a{href: "#"} Хозяйственные принадлежности
          %li
            %a{href: "#"} Шампунь  
      .col-lg-9
        %br
        %h1.text-center Наша продукция
        %hr
        %br
        %p
          %center
            Бытовая химия из Европы, Высококачественный ассортимент продукции. WINNI'S, SMACCHIOTUTTO, DEOX, MORBIDO, DISINFEKTO, PULIRAPID и другии
        .clearfix
        %br
        %br
        
        .row.products-list
          .col-sm-4
            .thumbnail
              %img{src: "/img/landing/product1.jpg"}
              .caption
                %h3 SCALA Bucato a mano Freschezza blù
                %p
                  %a.btn.btn-primary.btn-block{href: "/pages/show", role: "button"} Просмотр
          //
          .col-sm-4
            .thumbnail
              %img{src: "/img/landing/product2.jpg"}
              .caption
                %h3 SCALA Lana e delicati Soffio di Gardenia
                %p
                  %a.btn.btn-primary.btn-block{href: "/pages/show", role: "button"} Просмотр
          //
          .col-sm-4
            .thumbnail
              %img{src: "/img/landing/product3.jpg"}
              .caption
                %h3 SCALA Lana e delicati Carezza di seta
                %p
                  %a.btn.btn-primary.btn-block{href: "/pages/show", role: "button"} Просмотр
          //
          .col-sm-4
            .thumbnail
              %img{src: "/img/landing/product1.jpg"}
              .caption
                %h3 SCALA Bucato a mano Freschezza blù
                %p
                  %a.btn.btn-primary.btn-block{href: "/pages/show", role: "button"} Просмотр
          //
          .col-sm-4
            .thumbnail
              %img{src: "/img/landing/product2.jpg"}
              .caption
                %h3 SCALA Lana e delicati Soffio di Gardenia
                %p
                  %a.btn.btn-primary.btn-block{href: "/pages/show", role: "button"} Просмотр
          //
          .col-sm-4
            .thumbnail
              %img{src: "/img/landing/product3.jpg"}
              .caption
                %h3 SCALA Lana e delicati Carezza di seta
                %p
                  %a.btn.btn-primary.btn-block{href: "/pages/show", role: "button"} Просмотр
          //
//
%br
%br
%br
