.container.products
  .row
    .inner-heading
      .txt
        %h1 Продукция
    .clear
    %br
    %br
    .container.clearfix
      .row
        .service-block.min.span3
          .style
            %a.stylish{href: "#"}
              %span.icon
                //%img{alt: "post one", src: "/img/wash/logo1.png", class: ""}
            %a.halfCircleBottom
          %h4 Category 1
          %p Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed.
        .service-block.min.span3
          .style
            %a.stylish{href: "#"}
              %span.icon
                //%img{alt: "post one", src: "/img/wash/logo2.png", class: ""}
            %a.halfCircleBottom
          %h4 Category 2
          %p Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed.
        .service-block.min.span3
          .style
            %a.stylish{href: "#"}
              %span.icon
                //%img{alt: "post one", src: "/img/wash/logo3.png", class: ""}
            %a.halfCircleBottom
          %h4 Category 3
          %p Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed.
        .service-block.min.span3
          .style
            %a.stylish{href: "#"}
              %span.icon
                //%img{alt: "post one", src: "/img/wash/logo4.png", class: ""}
            %a.halfCircleBottom
          %h4 Category 4
          %p Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed.
        .service-block.min.span3
          .style
            %a.stylish{href: "#"}
              %span.icon
                //%img{alt: "post one", src: "/img/wash/logo1.png", class: ""}
            %a.halfCircleBottom
          %h4 Category 5
          %p Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed.
        .service-block.min.span3
          .style
            %a.stylish{href: "#"}
              %span.icon
                //%img{alt: "post one", src: "/img/wash/logo2.png", class: ""}
            %a.halfCircleBottom
          %h4 Category 6
          %p Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed.
        .service-block.min.span3
          .style
            %a.stylish{href: "#"}
              %span.icon
                //%img{alt: "post one", src: "/img/wash/logo3.png", class: ""}
            %a.halfCircleBottom
          %h4 Category 7
          %p Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed.
        .service-block.min.span3
          .style
            %a.stylish{href: "#"}
              %span.icon
                //%img{alt: "post one", src: "/img/wash/logo4.png", class: ""}
            %a.halfCircleBottom
          %h4 Category 8
          %p Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed.
        //
        //
    .clearfix
    
    %br
    %br
    %br
