.container
  .row
    .inner-heading
      .txt
        %h1 Продукция
    .clear
    %section.blog.span8
      %article.blog-post
        %img{alt: "post one", src: "/img/product1.jpg"}
        .post-contant
          .comment
            .comment-cout
              %h5.date 20
              .clear
              %h6.month June
            .halfCircleright
          %h3 This is simple Post
          %p Sed sollicitudin hendrerit urna, id euismod urna convallis eget. Vivamus cursus iaculis urna a auctor. Phasellus consequat, mauris sit amet faucibus pretium, dui lorem euismod eros, ut imperdiet sem nisi a elit. Aenean orci tellus, facilisis eu volutpat ac, placerat a nunc. Phasellus sit amet neque nibh. Nulla ac sapien ut ligula eleifend suscipit a ut nisi.
        .clear
        //.post-info
        //  %a.post-read{href: "#"} Детально
      %article.blog-post
        %img{alt: "post one", src: "/img/product2.jpg"}
        .post-contant
          .comment
            .comment-cout
              %h5.date 20
              .clear
              %h6.month June
            .halfCircleright
          %h3 This Most hover Style of Post
          %p Sed sollicitudin hendrerit urna, id euismod urna convallis eget. Vivamus cursus iaculis urna a auctor. Phasellus consequat, mauris sit amet faucibus pretium, dui lorem euismod eros, ut imperdiet sem nisi a elit. Aenean orci tellus, facilisis eu volutpat ac, placerat a nunc. Phasellus sit amet neque nibh. Nulla ac sapien ut ligula eleifend suscipit a ut nisi.
        .clear
        //.post-info
        //  %a.post-read{href: "#"} Детально
      %article.blog-post
        %img{alt: "post one", src: "/img/product3.jpg"}
        .post-contant
          .comment
            .comment-cout
              %h5.date 20
              .clear
              %h6.month June
            .halfCircleright
          %h3 This is simple Post with multiple images
          %p Sed sollicitudin hendrerit urna, id euismod urna convallis eget. Vivamus cursus iaculis urna a auctor. Phasellus consequat, mauris sit amet faucibus pretium, dui lorem euismod eros, ut imperdiet sem nisi a elit. Aenean orci tellus, facilisis eu volutpat ac, placerat a nunc. Phasellus sit amet neque nibh. Nulla ac sapien ut ligula eleifend suscipit a ut nisi.
        .clear
        //.post-info
        //  %a.post-read{href: "#"} Детально
      %article.blog-post
        %iframe{height: "302", src: "http://player.vimeo.com/video/7449107", width: "569"}
        .post-contant
          .comment
            .comment-cout
              %h5.date 20
              .clear
              %h6.month June
            .halfCircleright
          %h3 This is simple Post
          %p Sed sollicitudin hendrerit urna, id euismod urna convallis eget. Vivamus cursus iaculis urna a auctor. Phasellus consequat, mauris sit amet faucibus pretium, dui lorem euismod eros, ut imperdiet sem nisi a elit. Aenean orci tellus, facilisis eu volutpat ac, placerat a nunc. Phasellus sit amet neque nibh. Nulla ac sapien ut ligula eleifend suscipit a ut nisi.
        .clear
        //.post-info
        //  %a.post-read{href: "#"} Детально
      .clearfix
    %aside#sidebar.span4
      = render "layouts/sidebar"
