#products.white
  .container
    .row
      .col-lg-3
        %ul.nav.nav-pills.nav-stacked{style: "margin-top: 100px;"}
          %li
            %a{href: "#"} Зубная паста
          %li
            %a{href: "#"} Все для детей
          %li
            %a{href: "#"} Гель для душа
          %li
            %a{href: "#"} Зубная щетка
          %li
            %a{href: "#"} Косметика
          %li
            %a{href: "#"} Мыло
          %li
            %a{href: "#"} Ополаскиватели
          %li
            %a{href: "#"} Освежители воздуха
          %li
            %a{href: "#"} Пятновыводитель
          %li
            %a{href: "#"} Средства для бритья
          %li.active
            %a{href: "#"} Средства для посуды
          %li
            %a{href: "#"} Стиральный порошок
          %li
            %a{href: "#"} Хозяйственные принадлежности
          %li
            %a{href: "#"} Шампунь  
      .col-lg-9
        %br
        %h1.text-center Средства для посуды
        %hr
        %br
        .clearfix
        .col-sm-5
          %img{src: "/img/landing/product1.jpg"}
        .col-sm-7
          %br
          %h3 SCALA Bucato a mano Freschezza blù
          %p Бытовая химия из Европы, Высококачественный ассортимент продукции. WINNI'S, SMACCHIOTUTTO, DEOX, MORBIDO, DISINFEKTO, PULIRAPID и другии

%br
%br
%br
