!!!
%html.js.csstransitions
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title enFORCE HTML5 Theme
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "http://unolution.com/en/css/bootstrap.css", rel: "stylesheet"}/
    %link{href: "http://unolution.com/en/css/bootstrap-responsive.css", rel: "stylesheet"}/
    %link{href: "http://unolution.com/en/css/style.css", rel: "stylesheet"}/
    %link{href: "http://unolution.com/en/css/flexslider.css", rel: "stylesheet"}/
    %link{href: "http://unolution.com/en/css/jquery.bxslider.css", rel: "stylesheet"}/
    %link{href: "http://unolution.com/en/css/menu.css", rel: "stylesheet"}/
    %link{href: "http://unolution.com/en/css/font-awesome.min.css", rel: "stylesheet"}/
    %link{href: "http://unolution.com/en/css/colorpicker.css", rel: "stylesheet"}/
    %link{href: "http://unolution.com/en/css/jquery.fancybox.css", rel: "stylesheet"}/
    %link{href: "./enFORCE HTML5 Theme_files/css", rel: "stylesheet", type: "text/css"}/
    %link#hfonts{href: "./enFORCE HTML5 Theme_files/css(1)", rel: "stylesheet", type: "text/css"}/
    %link#bodyfonts{href: "./enFORCE HTML5 Theme_files/css", rel: "stylesheet", type: "text/css"}/
    %link#menu-b{href: "http://unolution.com/en/css/menu-b.css", rel: "stylesheet"}/
    %link#lfonts{href: "http://unolution.com/en/css/blank.css", rel: "stylesheet"}/
    %link#skin{href: "http://unolution.com/en/css/green.css", rel: "stylesheet"}/
    %style#pattern{type: "text/css"}
    %style#fontsize{type: "text/css"}
    %script{src: "./enFORCE HTML5 Theme_files/modernizr.custom.97074.js"}
  %body{style: "background-image: url(http://unolution.com/en/img/pat/pat26.jpg); font-family: Allan; background-position: initial initial; background-repeat: initial initial;"}
    %header#header.clearfix.scroll
      .container
        .row
          .span4
            %h3{style: "font-family: Allan;"}
              %a.logo{href: "http://unolution.com/en/index.html"} enforce
            %span.slogan Welcome to our website!
          %section.span8
            %nav
              %ul.sf-menu.l_tinynav1.sf-js-enabled.sf-shadow
                %li
                  %a{href: "http://unolution.com/en/index.html"} Home
                %li
                  %a{href: "http://unolution.com/en/about.html"} about
                / <li><a href="service.html">Services</a></li>
                %li
                  %a{href: "http://unolution.com/en/#"} Features
                  %ul{style: "display: none; visibility: hidden;"}
                    %li
                      %a{href: "http://unolution.com/en/index2.html"}
                        Full Width Slider
                      %span.icon
                        %span.icon-globe
                    %li
                      %a{href: "http://unolution.com/en/index3.html"} content Slider
                      %span.icon
                        %span.icon-wrench
                    %li
                      %a{href: "http://unolution.com/en/service.html"} Services
                      %span.icon
                        %span.icon-bar-chart
                    %li
                      %a{href: "http://unolution.com/en/work.html"} Grid portfolio
                      %span.icon
                        %span.icon-facetime-video
                    %li
                      %a{href: "http://unolution.com/en/full-work.html"} Full Portfolio
                      %span.icon
                        %span.icon-camera-retro
                    %li
                      %a{href: "http://unolution.com/en/shortcodes.html"} Shortcodes
                      %span.icon
                        %span.icon-wrench
                    %li
                      %a{href: "http://unolution.com/en/typography.html"} Typography
                      %span.icon
                        %span.icon-bar-chart
                    %li
                      %a{href: "http://unolution.com/en/single-blog.html"} Full Post Page
                      %span.icon
                        %span.icon-cogs
                %li
                  %a{href: "http://unolution.com/en/shortcodes.html"} Shortcodes
                %li
                  %a{href: "http://unolution.com/en/blog.html"} blog
                  %ul{style: "display: none; visibility: hidden;"}
                    %li
                      %a{href: "http://unolution.com/en/single-blog.html"} Full Post Page
                      %span.icon
                        %span.icon-cogs
                %li
                  %a{href: "http://unolution.com/en/contact.html"} contact
              %select.tinynav.tinynav1
                %option{value: "index.html"} Home
                %option{value: "about.html"} about
                %option{value: "#"} Features
                %option{value: "index2.html"}
                  Full Width Slider
                %option{value: "index3.html"} content Slider
                %option{value: "service.html"} Services
                %option{value: "work.html"} Grid portfolio
                %option{value: "full-work.html"} Full Portfolio
                %option{value: "shortcodes.html"} Shortcodes
                %option{value: "typography.html"} Typography
                %option{value: "single-blog.html"} Full Post Page
                %option{value: "shortcodes.html"} Shortcodes
                %option{value: "blog.html"} blog
                %option{value: "single-blog.html"} Full Post Page
                %option{selected: "selected", value: "contact.html"} contact
    .clear
    .container
      %section.row
        .span12.socialpack
          %section.social
            %ul
              %li
                %a.facebook{href: "http://unolution.com/en/#"}
                  %span.icon-facebook
              %li
                %a.twitter{href: "http://unolution.com/en/#"}
                  %span.icon-twitter
              %li
                %a.google-plus{href: "http://unolution.com/en/#"}
                  %span.icon-google-plus
    .clear
    .container
      .row
        .big-heading
          %h1{style: "font-family: Allan;"} A PROMISE OF WEB EXCELLENCE!
          .slogan
            %h4{style: "font-family: Allan;"}
              Designmonstr is a design house, with a new vision in graphic & web designing, dedicated to
              creating distinctive, modern & innovative graphic & web designs.
    .clear
    .container
      .row
        / Place somewhere in the <body> of your page
        .flexslider
          .flex-viewport{style: "overflow: hidden; position: relative;"}
            %ul.slides{style: "width: 1000%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-1936px, 0, 0);"}
              %li.clone{style: "width: 968px; float: left; display: block;"}
                %img{alt: "", src: "./enFORCE HTML5 Theme_files/slide3.jpg"}/
                .flex-caption.left
                  .textp
                    %h2{style: "font-family: Allan;"}
                      Bootstrap
                      %span.small v2.30.0
                    %p{style: "font-family: Allan;"} Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
                  .clear
                  .btton
                    %a.btcolor{href: "http://unolution.com/en/#"} Learn more!
                    %a.btdark{href: "http://unolution.com/en/#"} Buy Now!
              %li{style: "width: 968px; float: left; display: block;"}
                %img{alt: "", src: "./enFORCE HTML5 Theme_files/slide1.jpg"}/
                .flex-caption.bottom
                  %p.textp{style: "font-family: Allan;"} This is Simple text
                  .right
                    %a.btcolor{href: "http://unolution.com/en/#"} Learn more!
                    %a.btdark{href: "http://unolution.com/en/#"} Buy Now!
              %li.flex-active-slide{style: "width: 968px; float: left; display: block;"}
                %img{alt: "", src: "./enFORCE HTML5 Theme_files/slide2.jpg"}/
                .flex-caption.bottom
                  %p.textp{style: "font-family: Allan;"} This is text just for example
                  .right
                    %a.btcolor{href: "http://unolution.com/en/#"} Learn more!
                    %a.btdark{href: "http://unolution.com/en/#"} Buy Now!
              %li{style: "width: 968px; float: left; display: block;"}
                %img{alt: "", src: "./enFORCE HTML5 Theme_files/slide3.jpg"}/
                .flex-caption.left
                  .textp
                    %h2{style: "font-family: Allan;"}
                      Bootstrap
                      %span.small v2.30.0
                    %p{style: "font-family: Allan;"} Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
                  .clear
                  .btton
                    %a.btcolor{href: "http://unolution.com/en/#"} Learn more!
                    %a.btdark{href: "http://unolution.com/en/#"} Buy Now!
              %li.clone{style: "width: 968px; float: left; display: block;"}
                %img{alt: "", src: "./enFORCE HTML5 Theme_files/slide1.jpg"}/
                .flex-caption.bottom
                  %p.textp{style: "font-family: Allan;"} This is Simple text
                  .right
                    %a.btcolor{href: "http://unolution.com/en/#"} Learn more!
                    %a.btdark{href: "http://unolution.com/en/#"} Buy Now!
          %ol.flex-control-nav.flex-control-paging
            %li
              %a 1
            %li
              %a.flex-active 2
            %li
              %a 3
    .clear
    .container.clearfix
      .row
        .service-block.span3
          .style
            %a.stylish{href: "http://unolution.com/en/#"}
              %span.globe
            %a.halfCircleBottom
          %h4{style: "font-family: Allan;"} WEBSITE DESIGN
          %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
        .service-block.span3
          .style
            %a.stylish{href: "http://unolution.com/en/#"}
              %span.setting
            %a.halfCircleBottom
          %h4{style: "font-family: Allan;"} DEVELOPMENT
          %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
        .service-block.span3
          .style
            %a.stylish{href: "http://unolution.com/en/#"}
              %span.video
            %a.halfCircleBottom
          %h4{style: "font-family: Allan;"} VIDEO MAKING
          %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
        .service-block.span3
          .style
            %a.stylish{href: "http://unolution.com/en/#"}
              %span.development
            %a.halfCircleBottom
          %h4{style: "font-family: Allan;"} SUPPORT
          %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
    .clear
    .container
      .row
        .center-heading
          .text
            %span RECENTLY COMPLETE WORK
    .clear
    .container
      .row
        .recent-work
          %ul#da-thumbs.da-thumbs
            %li
              .main
                %a{href: "http://unolution.com/en/#"}
                  %img{alt: "", src: "./enFORCE HTML5 Theme_files/img1.jpg"}/
                %div
                  %h4{style: "font-family: Allan;"} Project title
                  %p{style: "font-family: Allan;"}
                    Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
                  %a.icon-arrow-right.read.fancy{href: "./enFORCE HTML5 Theme_files/img1.jpg"}
            %li
              .main
                %img{alt: "", src: "./enFORCE HTML5 Theme_files/img2.jpg"}/
                %div
                  %h4{style: "font-family: Allan;"} Project title
                  %p{style: "font-family: Allan;"}
                    Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
                  %a.icon-arrow-right.read.fancy{href: "./enFORCE HTML5 Theme_files/img2.jpg"}
            %li
              .main
                %img{alt: "", src: "./enFORCE HTML5 Theme_files/img3.jpg"}/
                %div
                  %h4{style: "font-family: Allan;"} Project title
                  %p{style: "font-family: Allan;"}
                    Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
                  %a.icon-arrow-right.read.fancy{href: "./enFORCE HTML5 Theme_files/img3.jpg"}
            %li
              .main
                %img{alt: "", src: "./enFORCE HTML5 Theme_files/img4.jpg"}/
                %div
                  %h4{style: "font-family: Allan;"} Project title
                  %p{style: "font-family: Allan;"}
                    Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
                  %a.icon-arrow-right.read.fancy{href: "./enFORCE HTML5 Theme_files/img4.jpg"}
            %li
              .main
                %img{alt: "", src: "./enFORCE HTML5 Theme_files/img5.jpg"}/
                %div
                  %h4{style: "font-family: Allan;"} Project title
                  %p{style: "font-family: Allan;"}
                    Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
                  %a.icon-arrow-right.read.fancy{href: "./enFORCE HTML5 Theme_files/img5.jpg"}
            %li
              .main
                %img{alt: "", src: "./enFORCE HTML5 Theme_files/img6.jpg"}/
                %div
                  %h4{style: "font-family: Allan;"} Project title
                  %p{style: "font-family: Allan;"}
                    Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
                  %a.icon-arrow-right.read.fancy{href: "./enFORCE HTML5 Theme_files/img6.jpg"}
    .clear
    .container
      .row
        .span6
          .left-heading
            .text
              %span Recent blog
          .clear
          .recent-blog
            .post
              .comment-cout
                %h5.date{style: "font-family: Allan;"} 20
                .clear
                %h6.month{style: "font-family: Allan;"} June
              .halfCircleright
              .containt
                %h4{style: "font-family: Allan;"} Aliquam lorem lacus, auctor quis.
                %p{style: "font-family: Allan;"} Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
                %a.icon-arrow-right.read{href: "http://unolution.com/en/#"}
            .post
              .comment-cout
                %h5.date{style: "font-family: Allan;"} 20
                .clear
                %h6.month{style: "font-family: Allan;"} June
              .halfCircleright
              .containt
                %h4{style: "font-family: Allan;"} Aliquam lorem lacus, auctor quis.
                %p{style: "font-family: Allan;"} Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
                %a.icon-arrow-right.read{href: "http://unolution.com/en/#"}
            .post
              .comment-cout
                %h5.date{style: "font-family: Allan;"} 20
                .clear
                %h6.month{style: "font-family: Allan;"} June
              .halfCircleright
              .containt
                %h4{style: "font-family: Allan;"} Aliquam lorem lacus, auctor quis.
                %p{style: "font-family: Allan;"} Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
                %a.icon-arrow-right.read{href: "http://unolution.com/en/#"}
        .span6.testimonial
          #bx-pager
            %a.active{"data-slide-index" => "0", href: ""}
              %img{alt: "", src: "./enFORCE HTML5 Theme_files/thumb1.png"}/
            %a{"data-slide-index" => "1", href: ""}
              %img{alt: "", src: "./enFORCE HTML5 Theme_files/thumb2.png"}/
            %a{"data-slide-index" => "2", href: ""}
              %img{alt: "", src: "./enFORCE HTML5 Theme_files/thumb3.png"}/
            %a{"data-slide-index" => "3", href: ""}
              %img{alt: "", src: "./enFORCE HTML5 Theme_files/thumb4.png"}/
            %a{"data-slide-index" => "4", href: ""}
              %img{alt: "", src: "./enFORCE HTML5 Theme_files/thumb5.png"}/
            %a{"data-slide-index" => "5", href: ""}
              %img{alt: "", src: "./enFORCE HTML5 Theme_files/thumb6.png"}/
          .bx-wrapper
            .bx-viewport{style: "width: 100%; overflow: hidden; position: relative; height: 290px;"}
              %ul.bxslider{style: "width: 1290%; position: relative; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-460px, 0, 0);"}
                %li.bx-clone{style: "float: left; list-style: none; position: relative; width: 460px;"}
                  %p{style: "font-family: Allan;"}
                    " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time "
                  %a.info{href: "http://unolution.com/en/#"}
                    John Smith
                    %span July 28, 2013
                %li{style: "float: left; list-style: none; position: relative; width: 460px;"}
                  %p{style: "font-family: Allan;"}
                    " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time"
                  %a.info{href: "http://unolution.com/en/#"}
                    John Smith
                    %span July 28, 2013
                %li{style: "float: left; list-style: none; position: relative; width: 460px;"}
                  %p{style: "font-family: Allan;"}
                    " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time"
                  %a.info{href: "http://unolution.com/en/#"}
                    John Smith
                    %span July 28, 2013
                %li{style: "float: left; list-style: none; position: relative; width: 460px;"}
                  %p{style: "font-family: Allan;"}
                    " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time"
                  %a.info{href: "http://unolution.com/en/#"}
                    John Smith
                    %span July 28, 2013
                %li{style: "float: left; list-style: none; position: relative; width: 460px;"}
                  %p{style: "font-family: Allan;"}
                    " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time"
                  %a.info{href: "http://unolution.com/en/#"}
                    John Smith
                    %span July 28, 2013
                %li{style: "float: left; list-style: none; position: relative; width: 460px;"}
                  %p{style: "font-family: Allan;"}
                    " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time "
                  %a.info{href: "http://unolution.com/en/#"}
                    John Smith
                    %span July 28, 2013
                %li{style: "float: left; list-style: none; position: relative; width: 460px;"}
                  %p{style: "font-family: Allan;"}
                    " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time "
                  %a.info{href: "http://unolution.com/en/#"}
                    John Smith
                    %span July 28, 2013
                %li.bx-clone{style: "float: left; list-style: none; position: relative; width: 460px;"}
                  %p{style: "font-family: Allan;"}
                    " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time"
                  %a.info{href: "http://unolution.com/en/#"}
                    John Smith
                    %span July 28, 2013
            .bx-controls.bx-has-controls-direction
              .bx-controls-direction
                %a.bx-prev{href: ""} Prev
                %a.bx-next{href: ""} Next
      .contact-box
        .arrow-circle
        .circleright
        %h4{style: "font-family: Allan;"} Want to find out whats happening at DesignMonstr.com
        %a.buttonred{href: "http://eepurl.com/vGsWT"} Subscribe to our newsletter
    %br/
    %br/
    %br/
    %footer#footer
      .container
        .row
          .footer-widget.span2
            %h4{style: "font-family: Allan;"} Pages
            .clear
            %ul.list
              %li
                %a{href: "http://unolution.com/en/index.html"} Home
              %li
                %a{href: "http://unolution.com/en/#"} About
              %li
                %a{href: "http://unolution.com/en/#"} Services
              %li
                %a{href: "http://unolution.com/en/#"} Work
              %li
                %a{href: "http://unolution.com/en/#"} Blog
              %li
                %a{href: "http://unolution.com/en/#"} Contact
          .footer-widget.span3
            %h4{style: "font-family: Allan;"} Why Us
            .clear
            %ul.list
              %li
                %a{href: "http://unolution.com/en/#"} Easy to customize
              %li
                %a{href: "http://unolution.com/en/#"} User Friendly
              %li
                %a{href: "http://unolution.com/en/#"} Pixel Perfect
              %li
                %a{href: "http://unolution.com/en/#"} Clean and modern
              %li
                %a{href: "http://unolution.com/en/#"} Complete Pages
              %li
                %a{href: "http://unolution.com/en/#"} After Sales Service
          .footer-widget.span3.flicker
            %h4{style: "font-family: Allan;"} Latest Flicker
            .clear
            #images.carousel
              .mask{style: "height: 165px;"}
                %ul{style: "width: 385px;"}
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/5591662831/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/5591662831_4ce810ed72_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/5532855406/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/5532855406_295bf2c4ab_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/5323846037/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/5323846037_87a32414f6_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/5226723509/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/5226723509_dd4e79358a_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/4644673236/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/4644673236_49df3607dd_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/4644058251/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/4644058251_b05ffaa072_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/4927239450/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/4927239450_fbfe18ccbb_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/4443239193/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/4443239193_6c2925d449_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/4303237649/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/4303237649_2765e37935_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/4256887950/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/4256887950_ffa2dcf960_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/4174934808/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/4174934808_7ce199b604_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/4046750531/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/4046750531_ae1e524095_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/4015136874/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/4015136874_13a68c0491_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/3963265245/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/3963265245_c3b36d5014_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/3932614036/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/3932614036_e9b4a5d5b7_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/3905761348/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/3905761348_0192acf07d_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/3743243287/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/3743243287_50a87e06db_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/3694835634/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/3694835634_9a65a7cfa0_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/3639802767/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/3639802767_91939e7c40_m.jpg"}/
                  %li
                    %a{href: "http://www.flickr.com/photos/24878717@N06/3548361693/in/pool-675729@N22"}
                      %img{src: "./enFORCE HTML5 Theme_files/3548361693_4440dddea0_m.jpg"}/
              %a.prev.disabled{href: "http://unolution.com/en/#"} Prev
              %a.next{href: "http://unolution.com/en/#"} Next
          .footer-widget.span4.contact-widget
            %h4{style: "font-family: Allan;"} Have any Question
            .clear
            %p{style: "font-family: Allan;"} Nullam magna ante, dapibus nec porttitor quis, porttitor a sapien. Aenean et ipsum.
            %form#footermsg{action: "http://unolution.com/en/js/send.php"}
              %textarea#footmessage{name: "message"} Write Something ...
              .clear
              %a#send{href: "http://unolution.com/en/#"} Send
            #mail_s
              %span Email has been sent Successfully
            #mail_f
              %span Server Error Try again
    %section.bottom-footer
      .container
        .row
          .link-list
            %a{href: "http://unolution.com/en/#"} Terms of Services
            %a{href: "http://unolution.com/en/#"} Privacy Policy
            %a{href: "http://unolution.com/en/#"} FAQs
            %a{href: "http://unolution.com/en/#"} Customer services
    .container
      .row.socialpack
        %section.social
          %ul
            %li
              %a.facebook{href: "http://unolution.com/en/#"}
                %span.icon-facebook
            %li
              %a.twitter{href: "http://unolution.com/en/#"}
                %span.icon-twitter
            %li
              %a.google-plus{href: "http://unolution.com/en/#"}
                %span.icon-google-plus
        %p.copywrite{style: "font-family: Allan;"}
          © 2013 DesignMonstr.com , All rights reserved.
    / all javascript
    %script{src: "./enFORCE HTML5 Theme_files/jquery-1.8.2.min.js"}
    %script{src: "./enFORCE HTML5 Theme_files/jquery.tools.min.js"}
    %script{src: "./enFORCE HTML5 Theme_files/jquery.easing.1.3.js"}
    %script{src: "./enFORCE HTML5 Theme_files/jquery.carousel.js"}
    %script{src: "./enFORCE HTML5 Theme_files/superfish.js"}
    / menu
    %script{src: "./enFORCE HTML5 Theme_files/jquery.bxslider.js"}
    / menu
    %script{src: "./enFORCE HTML5 Theme_files/jquery.flexslider.js"}
    %script{src: "./enFORCE HTML5 Theme_files/tinynav.js"}
    %script{src: "./enFORCE HTML5 Theme_files/jquery.fancybox.pack.js"}
    / menu
    %script{src: "./enFORCE HTML5 Theme_files/colorpicker.js"}
    %script{src: "./enFORCE HTML5 Theme_files/jquery.hoverdir.js"}
    / menu
    %script{src: "./enFORCE HTML5 Theme_files/custom.js"}
    / Custom scripts & plugin calls
    %script{src: "./enFORCE HTML5 Theme_files/jquery.cycle.lite.js"}
    :javascript
      jQuery(document).ready(function($) {
        "use strict";
        $('.flexslider').flexslider({
          animation: "slide",
        directionNav :false
        });
        
        $(' #da-thumbs > li >div.main').each( function() { $(this).hoverdir(); } );
        
        $('.bxslider').bxSlider({
          pagerCustom: '#bx-pager',
          transition  : 'fade'
        });
        $.getJSON("http://api.flickr.com/services/feeds/groups_pool.gne?id=675729@N22&lang=en-us&format=json&jsoncallback=?", function(data){
        
         $.each(data.items, function(i,item){
        
          $("<img/>").attr("src", item.media.m).appendTo("#images>ul")
          .wrap("<li></li>").wrap("<a href='" + item.link + "'></a>");
        
          });
      $('#images').carousel({
        itemsPerPage: 3,
        itemsPerTransition: 3,
        easing: 'linear',
        noOfRows: 3,
        pagination: false
      });
      });
      
      /********** Demo script you can remove **********/
      
      
      var fonts= new Array(
      'Allan',
      'Allerta',
      'Allerta Stencil',
      'Anonymous Pro',
      'Arimo',
      'Arvo',
      'Bentham',
      'Buda',
      'Cabin',
      'Calligraffitti',
      'Cantarell',
      'Cardo',
      'Cherry Cream Soda',
      'Chewy',
      'Coda',
      'Coming Soon',
      'Copse',
      'Corben',
      'Cousine',
      'Covered By Your Grace',
      'Crafty Girls',
      'Crimson Text',
      'Crushed',
      'Cuprum',
      'Droid Sans',
      'Droid Sans Mono',
      'Droid Serif',
      'Fontdiner Swanky',
      'GFS Didot',
      'GFS Neohellenic',
      'Geo',
      'Gruppo',
      'Hanuman',
      'Homemade Apple',
      'IM Fell DW Pica',
      'IM Fell DW Pica SC',
      'IM Fell Double Pica',
      'IM Fell Double Pica SC',
      'IM Fell English',
      'IM Fell English SC,IM Fell English SC',
      'IM Fell French Canon',
      'IM Fell French Canon SC',
      'IM Fell Great Primer',
      'IM Fell Great Primer SC',
      'Inconsolata',
      'Irish Growler',
      'Josefin Sans',
      'Josefin Slab',
      ' Just Another Hand',
      'Just Me Again Down Here',
      'Kenia',
      'Kranky',
      'Kristi',
      'Lato',
      'Lekton',
      'Lobster,Lobster',
      'Luckiest Guy',
      'Merriweather',
      'Molengo',
      'Mountains of Christmas',
      'Neucha',
      'Neuton',
      'Nobile',
      'OFL Sorts Mill Goudy TT',
      'Old Standard TT',
      'Orbitron',
      'PT Sans',
      'PT Sans Caption',
      'PT Sans Narrow',
      'Permanent Marker,Permanent Marker',
      'Philosopher,Philosopher',
      'Puritan',
      'Raleway',
      'Reenie Beanie',
      'Rock Salt',
      'Schoolbell',
      'Slackey',
      'Sniglet',
      'Sunshiney',
      'Syncopate',
      'Tangerine',
      'Tinos',
      'Ubuntu',
      'UnifrakturCook',
      'UnifrakturMaguntia',
      'Unkempt,Unkempt',
      'Vibur',
      'Vollkorn',
      'Walter Turncoat',
      'Yanone Kaffeesatz'
      ); 
        
      var values= new Array(
      'Allan',
      'Allerta',
      'Allerta+Stencil',
      'Anonymous+Pro',
      'Arimo',
      'Arvo',
      'Bentham',
      'Buda',
      'Cabin',
      'Calligraffitti',
      'Cantarell',
      'Cardo',
      'Cherry+Cream+Soda',
      'Chewy',
      'Coda',
      'Coming+Soon',
      'Copse',
      'Corben',
      'Cousine',
      'Covered+By+Your+Grace',
      'Crafty+Girls',
      'Crimson+Text',
      'Crushed',
      'Cuprum',
      'Droid+Sans',
      'Droid+Sans+Mono',
      'Droid+Serif',
      'Fontdiner+Swanky',
      'GFS+Didot',
      'GFS+Neohellenic',
      'Geo',
      'Gruppo',
      'Hanuman',
      'Homemade+Apple',
      'IM Fell+DW+Pica',
      'IM Fell+DW+Pica+SC',
      'IM Fell+Double+Pica',
      'IM Fell+Double+Pica+SC',
      'IM Fell+English',
      'IM Fell+English+SC,IM Fell English SC',
      'IM Fell+French+Canon',
      'IM Fell+French+Canon+SC',
      'IM Fell+Great+Primer',
      'IM Fell+Great+Primer+SC',
      'Inconsolata',
      'Irish+Growler',
      'Josefin+Sans',
      'Josefin+Slab',
      ' Just+Another+Hand',
      'Just+Me+Again+Down+Here',
      'Kenia',
      'Kranky',
      'Kristi',
      'Lato',
      'Lekton',
      'Lobster',
      'Luckiest+Guy',
      'Merriweather',
      'Molengo',
      'Mountains+of+Christmas',
      'Neucha',
      'Neuton',
      'Nobile',
      'OFL+Sorts+Mill+Goudy+TT',
      'Old+Standard+TT',
      'Orbitron',
      'PT+Sans',
      'PT+Sans+Caption',
      'PT+Sans+Narrow',
      'Permanent+Marker',
      'Philosopher',
      'Puritan',
      'Raleway',
      'Reenie+Beanie',
      'Rock+Salt',
      'Schoolbell',
      'Slackey',
      'Sniglet',
      'Sunshiney',
      'Syncopate',
      'Tangerine',
      'Tinos',
      'Ubuntu',
      'UnifrakturCook',
      'UnifrakturMaguntia',
      'Unkempt',
      'Vibur',
      'Vollkorn',
      'Walter+Turncoat',
      'Yanone+Kaffeesatz'
      ); 
        var j=0;
        $.each(fonts, function(i, item) {
      $('select').eq(1).append('<option value="'+ values[j] +'">' + item + '</option>');
      
      $('select').eq(2).append('<option value="'+ values[j] +'">' + item + '</option>');
      
      $('select').eq(3).append('<option value="'+ values[j] +'">' + item + '</option>');
      
          j++;
          });
          
          
        for(var i=10;i<=20;i++){
        
        $('select').eq(4).append('<option value="'+i+'">'+i+'</option>');
        
        }
        
        
      
      $("select").eq(1).on("change", function() {
        var font =$(this).val();
        var fonttext = $("select option:selected").eq(1).text();
        $("#header.bg h3").css('font-family',fonttext);
        $("#header.scroll h3").css('font-family',fonttext);
        $("link#lfonts").attr("href" ,'http://fonts.googleapis.com/css?family=' +font);
       
      }); 
        
      
      $("select").eq(2).on("change", function() {
        var font =$(this).val();
        var fonttext = $("select option:selected").eq(2).text();
        $("link#hfonts").attr("href" ,'http://fonts.googleapis.com/css?family=' +font);
      
        $('h1,h2,h3,h4,h5,h6').css('font-family',fonttext);
       
      });
          
          
      $("select").eq(3).on("change", function() {
      
        var bfont= $(this).val();
        var bhfont= $("select option:selected").eq(3).text();
        
      $("link#bodyfont").attr("href" ,'http://fonts.googleapis.com/css?family=' +bfont);
      
      $('body').css('font-family',bhfont);
      $('p').css('font-family',bhfont);
        
        
      });   
          
      
       $("select").eq(4).on("change", function() {
        var bfont= $("select option:selected").eq(4).text();
       $('p').css('fontSize', bfont+'px');
       $('body').css('fontSize', bfont+'px');
       });
       
       
       
      
      $('.color-skin li').click(function() {
          var pat = $(this).attr('class');
          $('style.color-pick').remove();
          $('link#skin').attr('href','css/'+pat+'.css');
          
        });
       
      
      });
    #demopanel{style: "position: fixed; top: 105px;"}
      #panel{style: "left: -310px;"}
        .panel-logo
          %img{alt: "", src: "./enFORCE HTML5 Theme_files/optionlogo.png"}/
        .color
          %h4{style: "font-family: Allan;"} Skin Color
          #colorSelector
            %div{style: "background-color: #0000ff"}
        .lcolor
          %h4{style: "font-family: Allan;"} Logo Color
          #logocolor
            %div{style: "background-color: #0000ff"}
        .clear
        .selector
          .select
            %h4{style: "font-family: Allan;"} logo fonts
            %select{id: "#lfonts", name: "lfonts"}
              %option{value: "Allan"} Allan
              %option{value: "Allerta"} Allerta
              %option{value: "Allerta+Stencil"} Allerta Stencil
              %option{value: "Anonymous+Pro"} Anonymous Pro
              %option{value: "Arimo"} Arimo
              %option{value: "Arvo"} Arvo
              %option{value: "Bentham"} Bentham
              %option{value: "Buda"} Buda
              %option{value: "Cabin"} Cabin
              %option{value: "Calligraffitti"} Calligraffitti
              %option{value: "Cantarell"} Cantarell
              %option{value: "Cardo"} Cardo
              %option{value: "Cherry+Cream+Soda"} Cherry Cream Soda
              %option{value: "Chewy"} Chewy
              %option{value: "Coda"} Coda
              %option{value: "Coming+Soon"} Coming Soon
              %option{value: "Copse"} Copse
              %option{value: "Corben"} Corben
              %option{value: "Cousine"} Cousine
              %option{value: "Covered+By+Your+Grace"} Covered By Your Grace
              %option{value: "Crafty+Girls"} Crafty Girls
              %option{value: "Crimson+Text"} Crimson Text
              %option{value: "Crushed"} Crushed
              %option{value: "Cuprum"} Cuprum
              %option{value: "Droid+Sans"} Droid Sans
              %option{value: "Droid+Sans+Mono"} Droid Sans Mono
              %option{value: "Droid+Serif"} Droid Serif
              %option{value: "Fontdiner+Swanky"} Fontdiner Swanky
              %option{value: "GFS+Didot"} GFS Didot
              %option{value: "GFS+Neohellenic"} GFS Neohellenic
              %option{value: "Geo"} Geo
              %option{value: "Gruppo"} Gruppo
              %option{value: "Hanuman"} Hanuman
              %option{value: "Homemade+Apple"} Homemade Apple
              %option{value: "IM Fell+DW+Pica"} IM Fell DW Pica
              %option{value: "IM Fell+DW+Pica+SC"} IM Fell DW Pica SC
              %option{value: "IM Fell+Double+Pica"} IM Fell Double Pica
              %option{value: "IM Fell+Double+Pica+SC"} IM Fell Double Pica SC
              %option{value: "IM Fell+English"} IM Fell English
              %option{value: "IM Fell+English+SC,IM Fell English SC"} IM Fell English SC,IM Fell English SC
              %option{value: "IM Fell+French+Canon"} IM Fell French Canon
              %option{value: "IM Fell+French+Canon+SC"} IM Fell French Canon SC
              %option{value: "IM Fell+Great+Primer"} IM Fell Great Primer
              %option{value: "IM Fell+Great+Primer+SC"} IM Fell Great Primer SC
              %option{value: "Inconsolata"} Inconsolata
              %option{value: "Irish+Growler"} Irish Growler
              %option{value: "Josefin+Sans"} Josefin Sans
              %option{value: "Josefin+Slab"} Josefin Slab
              %option{value: " Just+Another+Hand"} Just Another Hand
              %option{value: "Just+Me+Again+Down+Here"} Just Me Again Down Here
              %option{value: "Kenia"} Kenia
              %option{value: "Kranky"} Kranky
              %option{value: "Kristi"} Kristi
              %option{value: "Lato"} Lato
              %option{value: "Lekton"} Lekton
              %option{value: "Lobster"} Lobster,Lobster
              %option{value: "Luckiest+Guy"} Luckiest Guy
              %option{value: "Merriweather"} Merriweather
              %option{value: "Molengo"} Molengo
              %option{value: "Mountains+of+Christmas"} Mountains of Christmas
              %option{value: "Neucha"} Neucha
              %option{value: "Neuton"} Neuton
              %option{value: "Nobile"} Nobile
              %option{value: "OFL+Sorts+Mill+Goudy+TT"} OFL Sorts Mill Goudy TT
              %option{value: "Old+Standard+TT"} Old Standard TT
              %option{value: "Orbitron"} Orbitron
              %option{value: "PT+Sans"} PT Sans
              %option{value: "PT+Sans+Caption"} PT Sans Caption
              %option{value: "PT+Sans+Narrow"} PT Sans Narrow
              %option{value: "Permanent+Marker"} Permanent Marker,Permanent Marker
              %option{value: "Philosopher"} Philosopher,Philosopher
              %option{value: "Puritan"} Puritan
              %option{value: "Raleway"} Raleway
              %option{value: "Reenie+Beanie"} Reenie Beanie
              %option{value: "Rock+Salt"} Rock Salt
              %option{value: "Schoolbell"} Schoolbell
              %option{value: "Slackey"} Slackey
              %option{value: "Sniglet"} Sniglet
              %option{value: "Sunshiney"} Sunshiney
              %option{value: "Syncopate"} Syncopate
              %option{value: "Tangerine"} Tangerine
              %option{value: "Tinos"} Tinos
              %option{value: "Ubuntu"} Ubuntu
              %option{value: "UnifrakturCook"} UnifrakturCook
              %option{value: "UnifrakturMaguntia"} UnifrakturMaguntia
              %option{value: "Unkempt"} Unkempt,Unkempt
              %option{value: "Vibur"} Vibur
              %option{value: "Vollkorn"} Vollkorn
              %option{value: "Walter+Turncoat"} Walter Turncoat
              %option{value: "Yanone+Kaffeesatz"} Yanone Kaffeesatz
            .clear
          .select
            %h4{style: "font-family: Allan;"} Heading Fonts
            %select{id: "#hfonts", name: "hfonts"}
              %option{value: "Allan"} Allan
              %option{value: "Allerta"} Allerta
              %option{value: "Allerta+Stencil"} Allerta Stencil
              %option{value: "Anonymous+Pro"} Anonymous Pro
              %option{value: "Arimo"} Arimo
              %option{value: "Arvo"} Arvo
              %option{value: "Bentham"} Bentham
              %option{value: "Buda"} Buda
              %option{value: "Cabin"} Cabin
              %option{value: "Calligraffitti"} Calligraffitti
              %option{value: "Cantarell"} Cantarell
              %option{value: "Cardo"} Cardo
              %option{value: "Cherry+Cream+Soda"} Cherry Cream Soda
              %option{value: "Chewy"} Chewy
              %option{value: "Coda"} Coda
              %option{value: "Coming+Soon"} Coming Soon
              %option{value: "Copse"} Copse
              %option{value: "Corben"} Corben
              %option{value: "Cousine"} Cousine
              %option{value: "Covered+By+Your+Grace"} Covered By Your Grace
              %option{value: "Crafty+Girls"} Crafty Girls
              %option{value: "Crimson+Text"} Crimson Text
              %option{value: "Crushed"} Crushed
              %option{value: "Cuprum"} Cuprum
              %option{value: "Droid+Sans"} Droid Sans
              %option{value: "Droid+Sans+Mono"} Droid Sans Mono
              %option{value: "Droid+Serif"} Droid Serif
              %option{value: "Fontdiner+Swanky"} Fontdiner Swanky
              %option{value: "GFS+Didot"} GFS Didot
              %option{value: "GFS+Neohellenic"} GFS Neohellenic
              %option{value: "Geo"} Geo
              %option{value: "Gruppo"} Gruppo
              %option{value: "Hanuman"} Hanuman
              %option{value: "Homemade+Apple"} Homemade Apple
              %option{value: "IM Fell+DW+Pica"} IM Fell DW Pica
              %option{value: "IM Fell+DW+Pica+SC"} IM Fell DW Pica SC
              %option{value: "IM Fell+Double+Pica"} IM Fell Double Pica
              %option{value: "IM Fell+Double+Pica+SC"} IM Fell Double Pica SC
              %option{value: "IM Fell+English"} IM Fell English
              %option{value: "IM Fell+English+SC,IM Fell English SC"} IM Fell English SC,IM Fell English SC
              %option{value: "IM Fell+French+Canon"} IM Fell French Canon
              %option{value: "IM Fell+French+Canon+SC"} IM Fell French Canon SC
              %option{value: "IM Fell+Great+Primer"} IM Fell Great Primer
              %option{value: "IM Fell+Great+Primer+SC"} IM Fell Great Primer SC
              %option{value: "Inconsolata"} Inconsolata
              %option{value: "Irish+Growler"} Irish Growler
              %option{value: "Josefin+Sans"} Josefin Sans
              %option{value: "Josefin+Slab"} Josefin Slab
              %option{value: " Just+Another+Hand"} Just Another Hand
              %option{value: "Just+Me+Again+Down+Here"} Just Me Again Down Here
              %option{value: "Kenia"} Kenia
              %option{value: "Kranky"} Kranky
              %option{value: "Kristi"} Kristi
              %option{value: "Lato"} Lato
              %option{value: "Lekton"} Lekton
              %option{value: "Lobster"} Lobster,Lobster
              %option{value: "Luckiest+Guy"} Luckiest Guy
              %option{value: "Merriweather"} Merriweather
              %option{value: "Molengo"} Molengo
              %option{value: "Mountains+of+Christmas"} Mountains of Christmas
              %option{value: "Neucha"} Neucha
              %option{value: "Neuton"} Neuton
              %option{value: "Nobile"} Nobile
              %option{value: "OFL+Sorts+Mill+Goudy+TT"} OFL Sorts Mill Goudy TT
              %option{value: "Old+Standard+TT"} Old Standard TT
              %option{value: "Orbitron"} Orbitron
              %option{value: "PT+Sans"} PT Sans
              %option{value: "PT+Sans+Caption"} PT Sans Caption
              %option{value: "PT+Sans+Narrow"} PT Sans Narrow
              %option{value: "Permanent+Marker"} Permanent Marker,Permanent Marker
              %option{value: "Philosopher"} Philosopher,Philosopher
              %option{value: "Puritan"} Puritan
              %option{value: "Raleway"} Raleway
              %option{value: "Reenie+Beanie"} Reenie Beanie
              %option{value: "Rock+Salt"} Rock Salt
              %option{value: "Schoolbell"} Schoolbell
              %option{value: "Slackey"} Slackey
              %option{value: "Sniglet"} Sniglet
              %option{value: "Sunshiney"} Sunshiney
              %option{value: "Syncopate"} Syncopate
              %option{value: "Tangerine"} Tangerine
              %option{value: "Tinos"} Tinos
              %option{value: "Ubuntu"} Ubuntu
              %option{value: "UnifrakturCook"} UnifrakturCook
              %option{value: "UnifrakturMaguntia"} UnifrakturMaguntia
              %option{value: "Unkempt"} Unkempt,Unkempt
              %option{value: "Vibur"} Vibur
              %option{value: "Vollkorn"} Vollkorn
              %option{value: "Walter+Turncoat"} Walter Turncoat
              %option{value: "Yanone+Kaffeesatz"} Yanone Kaffeesatz
            .clear
          .select
            %h4{style: "font-family: Allan;"} Body Fonts
            %select{id: "#bodyfont", name: "bodyfont"}
              %option{value: "Allan"} Allan
              %option{value: "Allerta"} Allerta
              %option{value: "Allerta+Stencil"} Allerta Stencil
              %option{value: "Anonymous+Pro"} Anonymous Pro
              %option{value: "Arimo"} Arimo
              %option{value: "Arvo"} Arvo
              %option{value: "Bentham"} Bentham
              %option{value: "Buda"} Buda
              %option{value: "Cabin"} Cabin
              %option{value: "Calligraffitti"} Calligraffitti
              %option{value: "Cantarell"} Cantarell
              %option{value: "Cardo"} Cardo
              %option{value: "Cherry+Cream+Soda"} Cherry Cream Soda
              %option{value: "Chewy"} Chewy
              %option{value: "Coda"} Coda
              %option{value: "Coming+Soon"} Coming Soon
              %option{value: "Copse"} Copse
              %option{value: "Corben"} Corben
              %option{value: "Cousine"} Cousine
              %option{value: "Covered+By+Your+Grace"} Covered By Your Grace
              %option{value: "Crafty+Girls"} Crafty Girls
              %option{value: "Crimson+Text"} Crimson Text
              %option{value: "Crushed"} Crushed
              %option{value: "Cuprum"} Cuprum
              %option{value: "Droid+Sans"} Droid Sans
              %option{value: "Droid+Sans+Mono"} Droid Sans Mono
              %option{value: "Droid+Serif"} Droid Serif
              %option{value: "Fontdiner+Swanky"} Fontdiner Swanky
              %option{value: "GFS+Didot"} GFS Didot
              %option{value: "GFS+Neohellenic"} GFS Neohellenic
              %option{value: "Geo"} Geo
              %option{value: "Gruppo"} Gruppo
              %option{value: "Hanuman"} Hanuman
              %option{value: "Homemade+Apple"} Homemade Apple
              %option{value: "IM Fell+DW+Pica"} IM Fell DW Pica
              %option{value: "IM Fell+DW+Pica+SC"} IM Fell DW Pica SC
              %option{value: "IM Fell+Double+Pica"} IM Fell Double Pica
              %option{value: "IM Fell+Double+Pica+SC"} IM Fell Double Pica SC
              %option{value: "IM Fell+English"} IM Fell English
              %option{value: "IM Fell+English+SC,IM Fell English SC"} IM Fell English SC,IM Fell English SC
              %option{value: "IM Fell+French+Canon"} IM Fell French Canon
              %option{value: "IM Fell+French+Canon+SC"} IM Fell French Canon SC
              %option{value: "IM Fell+Great+Primer"} IM Fell Great Primer
              %option{value: "IM Fell+Great+Primer+SC"} IM Fell Great Primer SC
              %option{value: "Inconsolata"} Inconsolata
              %option{value: "Irish+Growler"} Irish Growler
              %option{value: "Josefin+Sans"} Josefin Sans
              %option{value: "Josefin+Slab"} Josefin Slab
              %option{value: " Just+Another+Hand"} Just Another Hand
              %option{value: "Just+Me+Again+Down+Here"} Just Me Again Down Here
              %option{value: "Kenia"} Kenia
              %option{value: "Kranky"} Kranky
              %option{value: "Kristi"} Kristi
              %option{value: "Lato"} Lato
              %option{value: "Lekton"} Lekton
              %option{value: "Lobster"} Lobster,Lobster
              %option{value: "Luckiest+Guy"} Luckiest Guy
              %option{value: "Merriweather"} Merriweather
              %option{value: "Molengo"} Molengo
              %option{value: "Mountains+of+Christmas"} Mountains of Christmas
              %option{value: "Neucha"} Neucha
              %option{value: "Neuton"} Neuton
              %option{value: "Nobile"} Nobile
              %option{value: "OFL+Sorts+Mill+Goudy+TT"} OFL Sorts Mill Goudy TT
              %option{value: "Old+Standard+TT"} Old Standard TT
              %option{value: "Orbitron"} Orbitron
              %option{value: "PT+Sans"} PT Sans
              %option{value: "PT+Sans+Caption"} PT Sans Caption
              %option{value: "PT+Sans+Narrow"} PT Sans Narrow
              %option{value: "Permanent+Marker"} Permanent Marker,Permanent Marker
              %option{value: "Philosopher"} Philosopher,Philosopher
              %option{value: "Puritan"} Puritan
              %option{value: "Raleway"} Raleway
              %option{value: "Reenie+Beanie"} Reenie Beanie
              %option{value: "Rock+Salt"} Rock Salt
              %option{value: "Schoolbell"} Schoolbell
              %option{value: "Slackey"} Slackey
              %option{value: "Sniglet"} Sniglet
              %option{value: "Sunshiney"} Sunshiney
              %option{value: "Syncopate"} Syncopate
              %option{value: "Tangerine"} Tangerine
              %option{value: "Tinos"} Tinos
              %option{value: "Ubuntu"} Ubuntu
              %option{value: "UnifrakturCook"} UnifrakturCook
              %option{value: "UnifrakturMaguntia"} UnifrakturMaguntia
              %option{value: "Unkempt"} Unkempt,Unkempt
              %option{value: "Vibur"} Vibur
              %option{value: "Vollkorn"} Vollkorn
              %option{value: "Walter+Turncoat"} Walter Turncoat
              %option{value: "Yanone+Kaffeesatz"} Yanone Kaffeesatz
          .select
            %h4{style: "font-family: Allan;"} Font Size
            %select{id: "#bfontsize", name: "bfontsize"}
              %option{value: "10"} 10
              %option{value: "11"} 11
              %option{value: "12"} 12
              %option{value: "13"} 13
              %option{value: "14"} 14
              %option{value: "15"} 15
              %option{value: "16"} 16
              %option{value: "17"} 17
              %option{value: "18"} 18
              %option{value: "19"} 19
              %option{value: "20"} 20
          .clear
          %p.rbg{style: "font-family: Allan;"}
            %input#back{type: "checkbox", value: "Remove"}>/
            Remove background
          .clear
          .select
            %h4{style: "font-family: Allan;"} Choose a skin
            .clear
            .color-skin
              %ul
                %li.default-color{title: "default-color"}
                %li.bright-orange{title: "Bright Orange"}
                %li.dark-blue{title: "Dark Blue"}
                %li.light-blue{title: "Light Blue"}
                %li.lighter-blue{title: "Lighter Blue"}
                %li.red{title: "Red"}
                %li.dark-pink{title: "Dark Pink"}
                %li.dark-green{title: "Dark Green"}
                %li.green{title: "Green"}
                %li.black{title: "black"}
          .select
            %h4{style: "font-family: Allan;"} Choose a Background
            .clear
            .pattern
              %ul
                / Pattern Set 1 --
                %li.pt1{title: "ptn-1"}
                %li.pt2{title: "ptn-2"}
                %li.pt3{title: "ptn-3"}
                %li.pt4{title: "ptn-4"}
                %li.pt5{title: "ptn-5"}
                %li.pt6{title: "ptn-6"}
                %li.pt7{title: "ptn-7"}
                %li.pt8{title: "ptn-8"}
                %li.pt9{title: "ptn-9"}
                %li.pt10{title: "ptn-10"}
                / Pattern Set 2 --
                %li.pt11{title: "ptn-11"}
                %li.pt12{title: "ptn-12"}
                %li.pt13{title: "ptn-13"}
                %li.pt14{title: "ptn-14"}
                %li.pt15{title: "ptn-15"}
                %li.pt16{title: "ptn-16"}
                %li.pt17{title: "ptn-17"}
                %li.pt18{title: "ptn-18"}
                %li.pt19{title: "ptn-19"}
                %li.pt20{title: "ptn-20"}
                / Pattern Set 3 --
                %li.pt21{title: "ptn-21"}
                %li.pt22{title: "ptn-22"}
                %li.pt23{title: "ptn-23"}
                %li.pt24{title: "ptn-24"}
                %li.pt25{title: "ptn-25"}
                %li.pt26{title: "ptn-26"}
                %li.pt27{title: "ptn-27"}
                %li.pt28{title: "ptn-28"}
                %li.pt29{title: "ptn-29"}
                %li.pt30{title: "ptn-30"}
                / Pattern Set 4 --
                %li.pt31{title: "ptn-31"}
                %li.pt32{title: "ptn-32"}
                %li.pt33{title: "ptn-33"}
                %li.pt34{title: "ptn-34"}
                %li.pt35{title: "ptn-35"}
                %li.pt36{title: "ptn-36"}
                %li.pt37{title: "ptn-37"}
                %li.pt38{title: "ptn-38"}
                %li.pt39{title: "ptn-39"}
                %li.pt40{title: "ptn-40"}
                / Pattern Set 5 --
                %li.pt41{title: "ptn-21"}
                %li.pt42{title: "ptn-22"}
                %li.pt43{title: "ptn-23"}
                %li.pt44{title: "ptn-24"}
                %li.pt45{title: "ptn-25"}
                %li.pt46{title: "ptn-26"}
                %li.pt47{title: "ptn-27"}
                %li.pt48{title: "ptn-28"}
                %li.pt49{title: "ptn-29"}
                %li.pt50{title: "ptn-30"}
          .clear
        / end patterns
      / close #panel
      .panel_button{style: "left: 10px; display: block;"}
        %img{alt: "expand", src: "./enFORCE HTML5 Theme_files/option.png"}/
      / close #panel_button
      .panel_button.hide_button{style: "left: 10px; display: none;"}
        %img{alt: "collapse", src: "./enFORCE HTML5 Theme_files/option.png"}/
      / close #panel_button
    #collorpicker_660.colorpicker
      .colorpicker_color{style: "background-color: rgb(255, 0, 0);"}
        %div
          %div{style: "left: 150px; top: 0px;"}
      .colorpicker_hue
        %div{style: "top: 150px;"}
      .colorpicker_new_color{style: "background-color: rgb(255, 0, 0);"}
      .colorpicker_current_color{style: "background-color: rgb(255, 0, 0);"}
      .colorpicker_hex
        %input{maxlength: "6", size: "6", type: "text"}/
      .colorpicker_rgb_r.colorpicker_field
        %input{maxlength: "3", size: "3", type: "text"}/
        %span
      .colorpicker_rgb_g.colorpicker_field
        %input{maxlength: "3", size: "3", type: "text"}/
        %span
      .colorpicker_rgb_b.colorpicker_field
        %input{maxlength: "3", size: "3", type: "text"}/
        %span
      .colorpicker_hsb_h.colorpicker_field
        %input{maxlength: "3", size: "3", type: "text"}/
        %span
      .colorpicker_hsb_s.colorpicker_field
        %input{maxlength: "3", size: "3", type: "text"}/
        %span
      .colorpicker_hsb_b.colorpicker_field
        %input{maxlength: "3", size: "3", type: "text"}/
        %span
      .colorpicker_submit
    #collorpicker_38.colorpicker
      .colorpicker_color{style: "background-color: rgb(255, 0, 0);"}
        %div
          %div{style: "left: 150px; top: 0px;"}
      .colorpicker_hue
        %div{style: "top: 150px;"}
      .colorpicker_new_color{style: "background-color: rgb(255, 0, 0);"}
      .colorpicker_current_color{style: "background-color: rgb(255, 0, 0);"}
      .colorpicker_hex
        %input{maxlength: "6", size: "6", type: "text"}/
      .colorpicker_rgb_r.colorpicker_field
        %input{maxlength: "3", size: "3", type: "text"}/
        %span
      .colorpicker_rgb_g.colorpicker_field
        %input{maxlength: "3", size: "3", type: "text"}/
        %span
      .colorpicker_rgb_b.colorpicker_field
        %input{maxlength: "3", size: "3", type: "text"}/
        %span
      .colorpicker_hsb_h.colorpicker_field
        %input{maxlength: "3", size: "3", type: "text"}/
        %span
      .colorpicker_hsb_s.colorpicker_field
        %input{maxlength: "3", size: "3", type: "text"}/
        %span
      .colorpicker_hsb_b.colorpicker_field
        %input{maxlength: "3", size: "3", type: "text"}/
        %span
      .colorpicker_submit