.container
  .row
    .big-heading
      %h1{style: "font-family: Allan;"} ЯКІСНИЙ ПРОДУКТ ПЛЮС!
      .slogan
        %h4{style: "font-family: Allan;"}
          Наша компания является официальным представителем итальянских торговых марок в Украине. Весь товар сертифицирован. Возможны доставки по всей Украине.
.clear
.container
  .row
    / Place somewhere in the <body> of your page
    #video_wrapper
      .video_pattern
      %video.video_background{autoplay: "true", loop: "loop", preload: "auto", volume: "0", muted: ""}
        %source{src: "/videos/video.webm", type: "video/webm"}
        %source{src: "/img/landing/video.mp4", type: "video/mp4"} 
        Video not supported
.clear
%br
%br
%br
.container.clearfix
  .row
    .service-block.span3
      .style
        %a.stylish{href: "http://unolution.com/en/#"}
          %span.globe
        %a.halfCircleBottom
      %h4{style: "font-family: Allan;"} WEBSITE DESIGN
      %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
    .service-block.span3
      .style
        %a.stylish{href: "http://unolution.com/en/#"}
          %span.setting
        %a.halfCircleBottom
      %h4{style: "font-family: Allan;"} DEVELOPMENT
      %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
    .service-block.span3
      .style
        %a.stylish{href: "http://unolution.com/en/#"}
          %span.video
        %a.halfCircleBottom
      %h4{style: "font-family: Allan;"} VIDEO MAKING
      %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
    .service-block.span3
      .style
        %a.stylish{href: "http://unolution.com/en/#"}
          %span.development
        %a.halfCircleBottom
      %h4{style: "font-family: Allan;"} SUPPORT
      %p{style: "font-family: Allan;"} Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec nibh fringilla sed dictum lorem mattis.
.clear
.container
  .row
    .center-heading
      .text
        %span Бренды
.clear
.container
  .row
    .recent-work
      %ul#da-thumbs.da-thumbs
        %li
          .main
            %a{href: "http://unolution.com/en/#"}
              %img{alt: "", src: "/img/wash/logo1.png"}/
            %div
              %h4{style: "font-family: Allan;"} Project title
              %p{style: "font-family: Allan;"}
                Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
              %a.icon-arrow-right.read.fancy{href: "/img/img1.jpg"}
        %li
          .main
            %img{alt: "", src: "/img/wash/logo2.png"}/
            %div
              %h4{style: "font-family: Allan;"} Project title
              %p{style: "font-family: Allan;"}
                Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
              %a.icon-arrow-right.read.fancy{href: "/img/img2.jpg"}
        %li
          .main
            %img{alt: "", src: "/img/wash/logo3.png"}/
            %div
              %h4{style: "font-family: Allan;"} Project title
              %p{style: "font-family: Allan;"}
                Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
              %a.icon-arrow-right.read.fancy{href: "/img/img3.jpg"}
        %li
          .main
            %img{alt: "", src: "/img/wash/logo4.png"}/
            %div
              %h4{style: "font-family: Allan;"} Project title
              %p{style: "font-family: Allan;"}
                Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
              %a.icon-arrow-right.read.fancy{href: "/img/img4.jpg"}
        %li
          .main
            %img{alt: "", src: "/img/wash/logo5.png"}/
            %div
              %h4{style: "font-family: Allan;"} Project title
              %p{style: "font-family: Allan;"}
                Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
              %a.icon-arrow-right.read.fancy{href: "/img/img5.jpg"}
        %li
          .main
            %img{alt: "", src: "/img/wash/logo6.png"}/
            %div
              %h4{style: "font-family: Allan;"} Project title
              %p{style: "font-family: Allan;"}
                Curabitur lacinia tincidunt lectus, ut adipiscing urna pellentesque sed. Etiam quis metus sed arcu congue volutpat. Fusce cursus libero nec.
              %a.icon-arrow-right.read.fancy{href: "/img/img6.jpg"}
.clear
.container
  .row
    .span6
      .left-heading
        .text
          %span Последнии новости
      .clear
      .recent-blog
        .post
          .comment-cout
            %h5.date{style: "font-family: Allan;"} 20
            .clear
            %h6.month{style: "font-family: Allan;"} June
          .halfCircleright
          .containt
            %h4{style: "font-family: Allan;"} Aliquam lorem lacus, auctor quis.
            %p{style: "font-family: Allan;"} Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "http://unolution.com/en/#"}
        .post
          .comment-cout
            %h5.date{style: "font-family: Allan;"} 20
            .clear
            %h6.month{style: "font-family: Allan;"} June
          .halfCircleright
          .containt
            %h4{style: "font-family: Allan;"} Aliquam lorem lacus, auctor quis.
            %p{style: "font-family: Allan;"} Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "http://unolution.com/en/#"}
        .post
          .comment-cout
            %h5.date{style: "font-family: Allan;"} 20
            .clear
            %h6.month{style: "font-family: Allan;"} June
          .halfCircleright
          .containt
            %h4{style: "font-family: Allan;"} Aliquam lorem lacus, auctor quis.
            %p{style: "font-family: Allan;"} Fusce congue eleifend ante, quis rutrum augue euismod id. Vivamus vitae erat sed sapien.
            %a.icon-arrow-right.read{href: "http://unolution.com/en/#"}
    .span6.testimonial
      #bx-pager
        %a.active{"data-slide-index" => "0", href: ""}
          %img{alt: "", src: "/img/thumb1.png"}/
        %a{"data-slide-index" => "1", href: ""}
          %img{alt: "", src: "/img/thumb2.png"}/
        %a{"data-slide-index" => "2", href: ""}
          %img{alt: "", src: "/img/thumb3.png"}/
        %a{"data-slide-index" => "3", href: ""}
          %img{alt: "", src: "/img/thumb4.png"}/
        %a{"data-slide-index" => "4", href: ""}
          %img{alt: "", src: "/img/thumb5.png"}/
        %a{"data-slide-index" => "5", href: ""}
          %img{alt: "", src: "/img/thumb6.png"}/
      .bx-wrapper
        .bx-viewport{style: "width: 100%; overflow: hidden; position: relative; height: 290px;"}
          %ul.bxslider{style: "width: 1290%; position: relative; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-460px, 0, 0);"}
            %li.bx-clone{style: "float: left; list-style: none; position: relative; width: 460px;"}
              %p{style: "font-family: Allan;"}
                " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time "
              %a.info{href: "http://unolution.com/en/#"}
                John Smith
                %span July 28, 2013
            %li{style: "float: left; list-style: none; position: relative; width: 460px;"}
              %p{style: "font-family: Allan;"}
                " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time"
              %a.info{href: "http://unolution.com/en/#"}
                John Smith
                %span July 28, 2013
            %li{style: "float: left; list-style: none; position: relative; width: 460px;"}
              %p{style: "font-family: Allan;"}
                " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time"
              %a.info{href: "http://unolution.com/en/#"}
                John Smith
                %span July 28, 2013
            %li{style: "float: left; list-style: none; position: relative; width: 460px;"}
              %p{style: "font-family: Allan;"}
                " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time"
              %a.info{href: "http://unolution.com/en/#"}
                John Smith
                %span July 28, 2013
            %li{style: "float: left; list-style: none; position: relative; width: 460px;"}
              %p{style: "font-family: Allan;"}
                " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time"
              %a.info{href: "http://unolution.com/en/#"}
                John Smith
                %span July 28, 2013
            %li{style: "float: left; list-style: none; position: relative; width: 460px;"}
              %p{style: "font-family: Allan;"}
                " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time "
              %a.info{href: "http://unolution.com/en/#"}
                John Smith
                %span July 28, 2013
            %li{style: "float: left; list-style: none; position: relative; width: 460px;"}
              %p{style: "font-family: Allan;"}
                " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time "
              %a.info{href: "http://unolution.com/en/#"}
                John Smith
                %span July 28, 2013
            %li.bx-clone{style: "float: left; list-style: none; position: relative; width: 460px;"}
              %p{style: "font-family: Allan;"}
                " Working with FxPartern is always a wonderful Experience as they always try their best to come up with something really professional and diffrent at the same time"
              %a.info{href: "http://unolution.com/en/#"}
                John Smith
                %span July 28, 2013
        .bx-controls.bx-has-controls-direction
          .bx-controls-direction
            %a.bx-prev{href: ""} Prev
            %a.bx-next{href: ""} Next
  .contact-box
    .arrow-circle
    .circleright
    %h4{style: "font-family: Allan;"} Подпишитесь на наши новости Site.com
    %a.buttonred{href: "http://eepurl.com/vGsWT"} Подписатся
