@import "variable";
@import "twitter/bootstrap";

body{
  //padding-top: 10px;
  background: url(/img/pat48.jpg);
}

.container{
  max-width: 960px;
}

.navbar-default{
  margin-bottom: 0px;
}

.navbar > .container .navbar-brand {
  float: left;
  font-size: 22px;
  color: #383838;
}

#Layer_1{
  max-width: 100%;
}

.sub-head-wrapper{
  background: #fff;  
}

.sub-head{
  text-align: center;
  position: relative;
  background: #fff;
  padding-top: 10px;
  .span1 {
    width: 60px;
    display: inline-block;
    float: none !important;
    margin: 0px 15px;
    a{
      display: block;
    }
    img{
      display: block;
      max-width: 100%;
      border: 1px solid rgba(207, 207, 207, 0.61);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0);
      border-radius: 27px;
      padding: 4px;
      max-height: 38px;
    }
  }
}

//pattern
#video_wrapper{
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  background: url(/img/landing/cover.jpg) no-repeat center top;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .video_background{ 
    position: absolute; 
    bottom: 0px; 
    right: 0px; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    /*z-index: -1000;*/
    overflow: hidden; 
  }
  .video_pattern {
    background-image: url(/img/landing/pattern.png);
    position: absolute;
    opacity: 0.9;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.stylish {
  border-radius: 50% 50% 50% 50%;
  //display: inline-block;
  height: 60px;
  line-height: 60px;
  width: 60px;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 9;
  background-color: #FFF;
  border: 2px solid #85A552;
  margin: 0 auto;
  img{
    max-width: 90%;
    border-radius: 50px;
  }
}

.service-block{
  .style {
  }
  p{
    display: block;
  }
  .stylish{
    background-color: #FFF;
    border: 2px solid #85A552;
    position: relative;
    top: -30px;
    margin-bottom: -30px;
    left: -3px;
    .icon{
      position: absolute;
      top: 15px;
      left: 3px;
      width: 100%;
      margin-top: 0px;
      img{
        display: block;
        max-width: 90%;
        border-radius: 50px;
      }
    }
  }
  &.min{
    p{
      display: block;
      height: 85px;
    }
    .stylish{
      background-color: #85A552;
    }
  }
}

.products .stylish{
  
}

.products .service-block, .categories .service-block{
  padding: 5px;
  margin-bottom: 20px;
  p{
    display: block;
    height: 60px;
    overflow: hidden;
  }
  .wr-img{
    display: inline-block;
    height: 200px;
    width: 100%;
    vertical-align: middle;
    img{
      max-height: 200px;
    } 
  }
  .thumbnail{
    margin-bottom: 0px;
    min-height: 365px;
    h5{
      font-weight: 900;
      height: 30px;
      overflow: hidden;
    }
  }
  &:hover{
    background: none;
    color: #000;
    .thumbnail{
      border: 1px solid #85A552;
    }
  }
}

.categories .service-block{
  .thumbnail{
    min-height: 220px;
  }
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -5px;
  font-size: 40px;
  font-weight: 100;
  line-height: 30px;
  color: #FFF;
  text-align: center;
  background: #222;
  border: 3px solid #85A552;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.bx-wrapper {
  position: relative;
  padding: 0;
  background: url(/img/test-bg.png);
  text-align: center;
  width: 100%;
  margin-top: 20px;
  float: left;
}

.left-heading {
  //float: left;
  //width: 100%;
  //background: url(/img/line.png) repeat-x center center;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
  color: #444;
  text-align: left;
  //margin-top: 20px;
  position: relative;
}

.service-block {
  text-align: center;
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  &:hover{
    background: #85A552;
    color: #fff;
  }
}

.service-block .stylish {
  border-radius: 50% 50% 50% 50%;
  color: #666;
  display: inline-block;
  font-size: 20px;
  height: 60px;
  width: 60px;
  line-height: 100px;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 9;
  background-color: #FFF;
  border: 2px solid #85A552;
  position: relative;
  bottom: -5px;
  left: -3px;
  .icon {
    position: absolute;
    top: 15px;
    left: 3px;
    width: 100%;
    margin-top: 0px;
    img {
      display: block;
      max-width: 90%;
      border-radius: 50px;
    }
  }
}

.recent-blog{
  .post{
    position: relative;
  }
  .comment-cout {
    text-align: center;
    border-radius: 50%;
    color: #666;
    display: inline-block;
    font-size: 20px;
    height: 55px;
    width: 55px;
    line-height: 100px;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 9;
    background-color: #FFF;
    border: 2px solid #85A552;
    position: absolute;
    z-index: 10;
    top: 26px;
    .date {
      margin: 0;
      font-size: 20px;
      font-weight: 800;
      margin-top: 10px;
    }
    .month {
      margin: 0;
      font-size: 10px;
    }
  }
  .containt {
    margin-left: 25px;
    padding: 10px 10px 10px 50px;
    position: relative;
    z-index: 8;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    &:hover{
     background: #85A552; 
     color: #fff;
    }
  }
}

.contact-widget textarea {
  //background: url(/img/contact.png);
  color: #606060;
  margin-top: 15px;
  min-width: 270px;
  border-radius: 0;
}

#footer {
  border-top: 2px solid #85A552;
  width: 100%;
  //background: url(/img/footer.png) repeat;
  position: relative;
  min-height: 285px;
  .footer-widget{
    h4 {
      margin-bottom: 20px;
      text-transform: uppercase;
      position: relative;
      margin-top: 0;
      padding-top: 30px;
    }
    ul {
      margin: 0;
      padding: 10px;
      list-style: none;
      li{
        a {
          color: #383838;
          font-size: 14px;
          margin-bottom: 8px;
          display: block;
          position: relative;
          width: 100%;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
          &:before {
            content: "";
            position: absolute;
            left: -10px;
            width: 3px;
            height: 3px;
            background: #85A552;
            top: 8px;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            -ms-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
          }
        }
      }
    }
  }
}

.copy{
  background-color: #85A552;
  width: 100%;
  padding: 10px 0;
  margin: 15px 0px;
  z-index: 7;
  position: relative;
  color: #fff;
}

.brand-list{
  //.wr{
  //  display: table-cell;
  //  height: 40px;
  //  //border: 1px solid green;
  //  vertical-align: top;
  //  font-size: 16px;
  //  img{
  //    margin-right: 5px;
  //  }
  //}
  .title{
    font-size: 14px;
    font-weight: 900;
  }
  .stylish {
    border-radius: 50% 50% 50% 50%;
    color: #666;
    display: inline-block;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 9;
    background-color: #FFF;
    border: 2px solid #85A552;
    img {
      max-width: 90%;
      border-radius: 50px;
      vertical-align: middle;
    }
  }
}



