@import "app/bootstrap";
@import "app/bootstrap-responsive";
@import "app/style";
@import "app/flexslider";
@import "app/menu";
@import "app/th";

#Layer_1{
  max-width: 100%;
}

.sub-head{
  text-align: center;
  top: -15px;
  position: relative;
  .span1 {
    width: 35px;
    display: inline-block;
    float: none !important;
    margin: 0px 22px;
    img{
      max-width: 100%;
      border: 1px solid rgba(207, 207, 207, 0.61);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.0);
      border-radius: 27px;
    }
  }
}

//pattern
#video_wrapper{
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  background: url(/img/landing/cover.jpg) no-repeat center top;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .video_background{ 
    position: absolute; 
    bottom: 0px; 
    right: 0px; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    /*z-index: -1000;*/
    overflow: hidden; 
  }
  .video_pattern {
    background-image: url(/img/landing/pattern.png);
    position: absolute;
    opacity: 0.9;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.service-block{
  .style {
  }
  p{
    display: block;
    height: 175px;
  }
  .stylish{
    background-color: #FFF;
    border: 3px solid #85A552;
    position: relative;
    bottom: -5px;
    left: -3px;
    .icon{
      position: absolute;
      top: 15px;
      left: 3px;
      width: 100%;
      margin-top: 0px;
      img{
        display: block;
        max-width: 90%;
        border-radius: 50px;
      }
    }
  }
  &.min{
    p{
      display: block;
      height: 85px;
    }
    .stylish{
      background-color: #85A552;
    }
  }
}

.products .service-block{
  margin-bottom: 30px;
}

