%nav.navbar.navbar-default{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .container
    .navbar-header.pull-right
      %ul.nav.navbar-nav
        %li
          - if user_signed_in?
            = link_to "Выход", destroy_user_session_path, :method => :delete
