//.sidebar-widget
//  .search
//    %input{type: "text", value: "Search"}/
//    %input.submit{type: "submit"}/
.sidebar-widget
  .simple-text
    %h4 Широкий ассортимент
    %p Компания "Якісний продукт плюс" с радостью предложит Вам исключительно высококачественные товары, большой и разнообразный ассортимент и главное – доступные цены. Вся продукция сертифицирована и соответствует ГОСТ и ТУ.
.sidebar-widget
  .mailchimp
    %a{href: "http://eepurl.com/vGsWT"} ПОДПИШИТЕСЬ НА НАШИ НОВОСТИ
.sidebar-widget
  %h4 Категории
  %ul.catagories
    %li
      //%span.icon-globe
      %a{href: "#"} Категория 1
    %li
      //%span.icon-wrench
      %a{href: "#"} Категория 2
    %li
      //%span.icon-facetime-video
      %a{href: "#"} Категория 3
    %li
      //%span.icon-thumbs-up
      %a{href: "#"} Категория 4
    %li
      //%span.icon-signal
      %a{href: "#"} Категория 5
    %li
      //%span.icon-camera-retro
      %a{href: "#"} Категория 6
.sidebar-widget
  .widget-slider
    %h4 Рекомендации
    .widget
      %img{alt: "post one", src: "/img/product3.jpg", class: "img-polaroid"}
    .clearfix
    %br
//.sidebar-widget.twitter
//  .twitter-widget
//    %h4 latest from twitter
//    #twitter_div
//.sidebar-widget
//  .tags-block
//    %h4 Tags
//    %p.tags.custom
//      %a{href: "#"} awesome
//      %a.tag-blue{href: "#"} free
//      %a.tag-orange.inset{href: "#"} ie sucks
//      %a.tag-red{href: "#"} tags cloud
//      %a.tag-blue.inset{href: "#"} jsfiddle
//      %a.inset{href: "#"} tags
//      %a.tag-orange{href: "#"} pure css
//      %a.tag-red.inset{href: "#"} webdesign