.sub-head{style: "top: 0;min-height: 40px;background: #ffffff;"}
  .row
    - Brand.all.limit(9).each do |brand|
      .span1
        =link_to "#" do
          - brand.brand_pictures.each do |brand_pictere|
            = image_tag brand_pictere.picture.url(:preview80x80), alt: "post one", class: "img-polaroid img-rounded"

