.sub-head{style: "top: 0;min-height: 40px;background: #ffffff;"}
  .row
    .span1
      =link_to "#" do
        %img{alt: "post one", src: "/img/wash/logo1.png", class: "img-polaroid img-rounded"}
    //
    .span1
      =link_to "#" do
        %img{alt: "post one", src: "/img/wash/logo2.png", class: "img-polaroid img-rounded"}
    //
    .span1
      =link_to "#" do
        %img{alt: "post one", src: "/img/wash/logo3.png", class: "img-polaroid img-rounded"}
    .span1
      =link_to "#" do
        %img{alt: "post one", src: "/img/wash/logo4.png", class: "img-polaroid img-rounded"}
    .span1
      =link_to "#" do
        %img{alt: "post one", src: "/img/wash/logo5.png", class: "img-polaroid img-rounded"}
    .span1
      =link_to "#" do
        %img{alt: "post one", src: "/img/wash/logo6.png", class: "img-polaroid img-rounded"}
    .span1
      =link_to "#" do
        %img{alt: "post one", src: "/img/wash/logo7.png", class: "img-polaroid img-rounded"}
    .span1
      =link_to "#" do
        %img{alt: "post one", src: "/img/wash/logo8.png", class: "img-polaroid img-rounded"}
    .span1
      =link_to "#" do
        %img{alt: "post one", src: "/img/wash/logo9.png", class: "img-polaroid img-rounded"}
    .span1
      =link_to "#" do
        %img{alt: "post one", src: "/img/wash/logo10.png", class: "img-polaroid img-rounded"}
    .span1
      =link_to "#" do
        %img{alt: "post one", src: "/img/wash/logo11.png", class: "img-polaroid img-rounded"}
    //
    //